[2014-09-17 13:00] ineagu opened #1 "Currency is hardcoded"
Currency is hardcoded

[2014-09-17 13:12] ineagu opened #2 "Display product rating using shortcode"
Display product rating using shortcode

[2014-09-17 13:12] ineagu opened #3 "Take user review into consideration and add a setting to select how much"
Take user review into consideration and add a setting to select how much

[2014-09-24 13:50] #3 closed, assigned to nobody

[2014-09-29 05:48] ioanrobciuc opened #4 "Problemă imagine"
Dacă imaginea nu este adăugată la produs, Product Options Setting nu se afișează cum trebuie. Posibil ca un tag HTML să fie deschis.

Screenshot: http://awesomescreenshot.com/0583kf4qca

[2014-09-29 05:52] ioanrobciuc opened #5 "Problemă text butoane"
Pentru ambele butoane se afișează același text introdus în field-ul "Affilate Button Text".

Screenshot: http://awesomescreenshot.com/0713kf5u24

[2014-09-29 07:57] ioanrobciuc opened #6 "Eroare widget"
Dacă imaginea nu este adăugată, apare o eroare în widget.

Screenshot: http://awesomescreenshot.com/0103kg2x83

[2014-09-29 08:50] ioanrobciuc opened #7 "Problemă link butoane"
Pentru ambele butoane se afișează același link introdus în field-ul "Affilate Link".

[2014-09-29 08:58] #1 closed, assigned to ineagu

[2014-09-29 08:58] ineagu opened #8 "Image link enhagement"
However when I click on the image it doesn't bring up a larger image all it does is reload the same review..I'm hoping for an update where clicking the image will link to the affiliate link that is set in the options.

[2014-09-29 09:15] ineagu opened #9 "Rating rich snippet issue"
Instead of 7,4 we have 74 which break rich snippets.

[2014-09-29 09:46] mileamadalin opened #10 "Plugin loading Google fonts with HTTP only"
We have feedback from a customer:

Hey,

I have a small problem, we run a HTTPS website, and this is causing some problems with the plugin as it seems to be loading Google Fonts as HTTP, if you could change the links to "//" without any definition it will load properly on all sites, either HTTP or HTTPS.

Also could you let me know where you load the fonts so that I can quickly change them to be H

[2014-09-29 17:49] mileamadalin opened #11 "When responsive?"
We have an interesting feedback from a customer. He asks us if we can do this plugin to be responsive:

Dear team of readythemes,

I installed WP Review Products for testing. It works fine. Only on mobile phones it narrows the page view. When do you think will this plugin be fully responsive?
I like it very much. You added a second possibility to link to an affiliate program, good looking, well do

[2014-09-30 11:18] mileamadalin opened #12 "FireFox Bug"
We have feedback from a customer. Looks like we have a display bug in FireFox. :

Hi,

I just installed the Jet Pack Plugin from WordPress (at least that the only thing I changed that I can remember) and now, some text of WP Product review are disappearing strangely, look at the pic: http://hpics.li/f94c5c9
Pro, Cons and affiliate button is affected

It only happens in FireFox, not in Chrome neith

[2014-10-12 14:23] #2 closed, assigned to ineagu

[2014-10-12 14:23] #4 closed, assigned to nobody

[2014-10-12 14:23] #5 closed, assigned to nobody

[2014-10-12 14:23] #6 closed, assigned to nobody

[2014-10-12 14:23] #7 closed, assigned to nobody

[2014-10-12 14:23] #8 closed, assigned to ineagu

[2014-10-12 14:23] #9 closed, assigned to ineagu

[2014-10-12 14:23] #10 closed, assigned to nobody

[2014-10-12 14:23] #11 closed, assigned to nobody

[2014-10-12 14:23] #12 closed, assigned to nobody

[2014-10-13 13:09] ineagu opened #13 "BUT, why is the content (post-text) area disappearing when i choose "manually"?"

[2014-10-15 22:21] andreitripon opened #14 "Division by zero"
Warning: Division by zero in ...\wp-content\plugins\wp-product-review\wp-product-review.php on line 70

Linia problema: $rating['overall'] = $overall_score/$iter;
Posibila rezolvare: $rating['overall'] = ($overall_score>0 && $iter>0)?$overall_score/$iter:0;

[2014-10-20 11:56] rodica-andronache opened #15 "French Translation"
I found out that a lot of sentences are not translated. I think there
are missing on the .pot file.

[2014-10-20 12:07] rodica-andronache opened #16 "Conflict with the Formidable Pro Plugin"
Something in the WP Product Review Plugin (not the pro add-on) is causing a plugin conflict with the very popular Formidable Pro Plugin.

When I have only these two plugins installed, I can no longer view any of the options for Formidable for a form question.
I received the following email from the developer of the Formidable Pro Plugin. Hopefully this information helps.

"It looks like that plugi

[2014-10-21 10:38] ineagu opened #17 "Clearfix css change"

[2014-10-27 14:05] #13 closed, assigned to nobody

[2014-10-27 14:05] #14 closed, assigned to robi09

[2014-10-27 14:05] #16 closed, assigned to nobody

[2014-10-27 14:05] #17 closed, assigned to ineagu

[2014-10-27 14:05] ineagu opened #18 "background in widget issue"
Hello, i have a problem with the widget on home page. http://www.gamingpark.it/ as you can see, it displays a dot over any product, how can I resolve? Thank You.

.widget_cwp_top_products_widget li, .widget_cwp_latest_products_widget li {
margin-left: 0px!important;
list-style: none!important;
background: none;
}

[2014-11-01 13:00] ineagu opened #19 "rating 0 when is not set issue"
https://wordpress.org/support/topic/comment-rating-influence-if-meta_option-is-not-set-0?replies=3#post-6179190

[2014-11-01 13:05] ineagu opened #20 "Generate POT file"
@rodica-andronache poti genera fisierul POT aici ? si sa te asiguri ca toate stringurile sunt traduse ? Poti verifica asta creand o traducere gen ro_RO si traducand tot in xxx, apoi sa vezi daca totul apare asa.

[2014-11-03 13:38] mariusghitulescu opened #21 "Mai mult de 5 optiuni la comment"
"However, if a visitor leaves a comment and rates all 9 options I defined, only the first 5 are taken in consideration calculating the average."

[2014-11-03 15:00] mariusghitulescu opened #22 "Culoare cerc rating"
E un mic detaliu, dar au fost 2 cereri pana acum, sa integram la meniul de culori si culoarea "default" a cercului in care vine nota. In prezent el e gri (diferenta dintre zona verde echivalenta calificativului si restul cercului, pana la 100).

Toate culorile pot fi customizate, mai putin asta.

Nu stiu exact cui sa asignez, v-am notificat pe toti.
@ineagu @rodica-andronache @mariusalex20 @claudi

[2014-11-07 13:37] #22 closed, assigned to nobody

[2014-11-07 13:37] #21 closed, assigned to selul

[2014-11-07 13:37] #19 closed, assigned to ineagu

[2014-11-13 15:12] mariusghitulescu opened #23 "Average grade not working"
Nota finala nu se calculeaza bine, cu cat visitor influence e mai mare cu atat nota e mai mica, chiar daca review-urile au note mari.

Edit: a postat cineva si solutia aici: https://wordpress.org/support/topic/wrong-calculation-of-rating?replies=4#post-6240103

[2014-11-18 15:53] mariusghitulescu opened #24 "Author review is counted twice"
Rich snippets shows 2 reviewers even if there are no reviews except the author's.

https://wordpress.org/support/topic/the-review-count-in-rich-snippet-is-2-more-than-actual-number-of-user-reviews

[2014-11-18 15:55] mariusghitulescu opened #25 "Enable/Disable Rich Snippets"
Sunt oameni care au si alte pluginuri sau teme care vin default cu Rich Snippets, apar erori in astfel de cazuri. Ar trebui sa avem o optiune de enable/disable rich snippets.

[2014-11-19 10:58] mariusghitulescu opened #26 "Price for rich snippets"

[2014-11-19 11:00] #26 closed, assigned to nobody

[2014-11-27 14:53] mariusghitulescu opened #30 "Top Products in Category"
O cerere putin mai ciudata, dar care are sens.
Un widget care afiseaza top x produse din categoria din care articolul curent face parte.
Se complica putin lucrurile, mai ales cand widgetul va fi pe pagini care nu sunt in categorii cu review-uri, dar am zis sa pun aici spre dezbatere :)

[2014-11-27 14:56] mariusghitulescu opened #31 "Sort Products"
Nu stiu cat de usor sau greu se fac sortarile in wordpress, nu prea multe teme/pluginuri au functia asta.  Ar fi util un buton de tip select in care vizitatorii sa poata sorta produsele/articolele dupa nota din review.

Cred ca ar fi destul de greu sa integram asa ceva pentru orice tema, presupun ca e mai usor sa faci o tema cu sortare inclusa decat un plugin ce adauga filtre de sortare.

Am zis s

[2014-11-28 22:12] #18 closed, assigned to nobody

[2014-11-28 22:12] #23 closed, assigned to ineagu

[2014-11-28 22:12] #24 closed, assigned to ineagu

[2014-12-04 15:45] mariusghitulescu opened #32 "Single review per user per article"
Ar fi util daca am putea limita review-urile la un singur review/articol al unui utilizator.
Pe site-uri mari unde comentariile nu sunt moderate inainte de a fi aprobate, cineva poate posta oricate review-uri, ceea ce nu e in regula.

[2014-12-14 20:23] HardeepAsrani opened #33 "Not compatible with Jetpack Comments"
See this: https://wordpress.org/support/topic/cant-get-user-review-enabled?replies=3

I think you can't add it to Jetpack comments because there's no such hook for that. But still, you guys can double-check it :)

[2014-12-15 10:19] HardeepAsrani opened #34 "W3C Markup Validation errors"
Please see this thread: https://wordpress.org/support/topic/w3c-markup-validation-errors-1?replies=1

Thanks :)

[2014-12-22 22:26] mariusghitulescu opened #35 "Responsive"
Visitor ratings on mobile devices are not working great. Maybe a text box where visitors from mobile devices could manually insert the value as text, istead of sliding the bars to give accurate reviews.

Request: https://themeisle.com/forums/topic/responsive-2#post-60428

[2015-01-07 22:07] ineagu opened #36 "Can you add a timespan to the query performed by the widgets?"
Can you add a timespan to the query performed by the widgets? So we can choose to display the "top products for the week" or "top reviewed products for the month" or for the year?

[2015-01-13 15:13] mariusghitulescu opened #37 "Different Colors for buttons"
Both buttons have the same colors, it would be useful if they could be customized separately.

[2015-01-13 15:14] mariusghitulescu opened #38 "Shortcodes for Buy Buttons"
Shortcodes for buy buttons (1 and 2), would be useful, so they can be inserted anywhere on the website, not only inside the review.

[2015-01-25 22:06] mariusghitulescu opened #39 "Widget Article Title Length"
There's no limit on the legth of the titles shown in the widgets.
Titles can be too long and cross over with the review image.

[2015-01-28 20:31] ineagu opened #40 "li before issues"
Need ot make sure the before element is empty inside the review box li's .

[2015-01-29 16:29] mariusghitulescu opened #41 "Structured Data issue"
Rich Snippets functioneaza, dar nu optim.

Codul nu e validat de checker-ul de la google: https://developers.google.com/webmasters/structured-data/testing-tool/?url=http://dev2.themeisle.com/reviewgine/?p=11

[2015-01-30 15:07] robi09 opened #42 "Password post"
@ineagu  facand testarea la pluginul landing page, am descoperit ca pluginul tata wppr, afiseaza review-ul daca postul este protejat cu parola.

[2015-01-30 15:33] ineagu commented on #42
ok

[2015-02-03 21:12] ineagu opened #43 "Load fonts in php"
currently we load fonts in css, we should do that in php

[2015-02-03 21:12] ineagu opened #44 "load scripts conditionally"
We should load css/js scripts only on the pages we really need, not on all ( find a way to detect widget )

[2015-02-03 21:15] ineagu opened #45 "unbloatted version"
Propose a very light version for the users, without lightbox, jqueryui, fontawesome, google fonts as an admin setting, some of those are quite useless compared with the amount of code that is added.

[2015-02-04 19:36] HardeepAsrani opened #46 "Option to have 100% influence to comments ratings"
As of now, comments can't have over 90% influence in the main ratings. But if a site is about user ratings then they'd probably like to give users 100% influence over the ratings.

Same as https://github.com/Codeinwp/wp-product-review-pro/issues/9

[2015-02-07 00:45] mariusghitulescu opened #47 "Prevent plugin appearing in post excerpt"
Themes that use posts excerpts on homepage/category pages/archives will show text from the review if plugin is set to post before content.
It looks weird and it is not useful.

[2015-02-08 13:45] mariusghitulescu opened #48 "Responsive Display"
i don't know if it is clear, but the line in the right where there are the vote, should be allined with the one at the top.
The Pros and Cons, can go straight, in this case they are wrapped with no reason.

Hope this is good, don't know how it looks like on a pc...
btw if you want to check directly on the site, the address is letskillthenoise.com

Demo: http://i.imgur.com/SAvknWa.png

@ineagu

[2015-02-09 22:26] HardeepAsrani opened #49 "CSS conflict with BuddyPress"
Source: https://wordpress.org/support/topic/css-conflict-with-buddypress

@ineagu

Hi,

I'm using latest versions of Buddypress (2.2.0) and WP Product Review (2.4.9). When I am on Settings > Buddypress, I can't see submit button for the forms, because the buddypress submit button is wrapped in `<p class="submit clear">` and your css dashboard_styles.css line 31, is defining the class clear like th

[2015-02-12 11:56] robi09 opened #50 "Undefined variable nr_of_comments"
Cateva mici erori descoperite cat am lucrat pe plugin.
Am atasat imaginile, @ineagu asignezi tu mai departe la cine trebuie.
![error1](https://cloud.githubusercontent.com/assets/4840427/6166997/da23085c-b2be-11e4-891b-726c607cbb2c.PNG)
![error2](https://cloud.githubusercontent.com/assets/4840427/6166998/da237058-b2be-11e4-905c-ca2722effbbd.PNG)

[2015-02-12 11:57] robi09 opened #51 "Notice: Uninitialized ..."
O eroare in admin, sa asignezi la cine trebuie @ineagu
![error3](https://cloud.githubusercontent.com/assets/4840427/6167005/0e256d02-b2bf-11e4-83c5-c0c4f58f57e6.PNG)

[2015-02-23 21:57] mariusghitulescu opened #52 "Issue when breaking posts into multiple using <! - next page ->"
At a page break using the command <! - next page -> results in the the review will appear on every page.

[2015-03-07 18:07] mariusghitulescu commented on #41
Si aici un exemplu cand e inclus is pretul: https://secure.helpscout.net/conversation/76095312/17269/

[2015-03-07 19:44] mariusghitulescu opened #53 "Featured Image"
@ineagu aici sunt modificarile facute pentru a rezolva problema cu featured image, daca poti arunca un ochi sa-mi confirmi ca e bine sa dau un Pull Request

https://themeisle.com/forums/topic/freature-image-is-not-showing-up-on-pro-version/page/2/#post-86907

[2015-03-13 08:52] vncatalin opened #54 "Error in adminOptionsValidator.php"
La 2.5.2 am luat eroarea asta la activare, nu stiu insa daca a fost raportata pana acum problema.

![2015-03-13_10-39-22](https://cloud.githubusercontent.com/assets/818818/6635455/ed9d60e6-c96e-11e4-8e35-193b2587f252.png)

[2015-03-26 09:26] mileamadalin opened #55 "The product name goes under the image"
@rodica-andronache @ineagu  I received this message from a client:

"I'm just noticing that the formatting when the product name is a bit long, goes under the image of the vote, and if it wraps, it goes under the picture...not really nice...

n.1 BEATS Studio Wireless (perfect formatting)
n.2 SENNHEISER Momentum On-Ear (text under the vote and wrapped under the picture)
n.3 BOSE QuietComfort 20i (

[2015-03-28 18:50] HardeepAsrani opened #56 "Need quite a bit of improvement"
Source: https://wordpress.org/support/topic/need-quite-a-bit-of-improvement

Hi, this is a great plugin, but a quite a bit of improvement is needed in your plugin to make it even more awesome. I'm posting the needed improvements below as posint basis. Please try to update your plugin with the best coding practices and so that it doesn't slow down the site loading time.

    Load javascripts in the

[2015-03-31 16:57] mariusghitulescu commented on #53
Am mai facut acum niste modificari, ca sa foloseasca thumbnail in loc de full featured image.

[2015-04-01 09:47] ineagu commented on #53
vad ca ai schimbat complet logica if-ului aluia, stiu ca era ceva dubios, dar rezolvasem, pare modificat mai mult decat thumbnail

[2015-04-01 09:51] ineagu commented on #53
@mariusghitulescu imi poti pune un task pe redbooth sa ma uit aici ? si in principiu cand tre sa fac ceva, pe git sunt multe si nu tot timpul le vad

[2015-04-01 17:19] robi09 opened #58 "Plugin could not be activated because it triggered a fatal error."
Plugin could not be activated because it triggered a fatal error.
Parse error: syntax error, unexpected T_STRING in /home/tehnorev/public_html/wp-content/plugins/wp-product-review/inc/cwp_frontpage.php on line 1

Hi guys, Andrei de la simplenet.ro mi-a raportat eroare de mai sus, a intalnit eroarea la activarea pluginului.

@rodica-andronache  @ineagu

[2015-04-01 17:54] ineagu commented on #58
problema asta e atunci cand faci tranfer pe ftp si ai encoding diferit.

[2015-04-16 10:58] mariusghitulescu opened #59 "Shortcode displays review at the top"
Using the Shortcode will always display the review at the top of the page, instead of the where it's inserted.

[2015-05-07 09:06] mariusghitulescu opened #60 "Comment sliders do not appear on mobile version of website"
Commend sliders do not appear if mobile version is done with WP Touch plugin.
@ineagu

[2015-05-07 09:10] ineagu commented on #60
e oarecum normal :)

[2015-05-12 16:02] mariusghitulescu opened #61 "JS Minify Breaks the review"
The plugin's design is broken when JS Minify is activated on Caching Plugins.
Details here: https://wordpress.org/support/topic/w3-total-cache-plugin-2

@ineagu

[2015-06-05 20:45] HardeepAsrani opened #62 "People can post as many comments reviews as they want"
Source: Forum

A registered user can give a lot of reviews for the same product .
But that falsified the vote . A registered user to give only one vote for a product .
Now he can give a rating in every comments, did is wrong ,
He always write comments , but the ratings only one per product presentation .

@selu91 @ineagu

[2015-06-07 21:09] HardeepAsrani opened #63 "Suggestions for Pro Version"
Source: Forum

Hi,

First of all, thank you for excellent plug-in!
I don’t know how serious my suggestions will take, but this is my favorite review plug-in so far, and I hope the continue of development and support:

– Average Score On/Off : Bad at something always doesn’t mean it should affect final score
– Custom “score” : Numbers are good, but sometimes I just want to summarize it with single

[2015-06-12 20:55] selu91 opened #64 "rating problem"
wrong rating maximum, it should be 100 and is 10

[2015-06-22 08:01] mariusghitulescu opened #65 "Load css in footer"
Suggestion: You can at least load the scripts/stylesheets in the footer:

In /wp-product-review/wp-product-review.php

change line 426:
add_action('wp_head', 'cwppos_pac_print');

to

add_action('wp_footer', 'cwppos_pac_print');

[2015-07-14 12:16] mariusghitulescu opened #66 "Add 100% rating influence"
in \wp-product-review\admin\inc\config.php, change line 115
`"options"=>array("0"=>"No influence","10"=>"10%","20"=>"20%","30"=>"30%","40"=>"40%","50"=>"50%","60"=>"60%","70"=>"70%","80"=>"80%","90"=>"90%"),`

to

`"options"=>array("0"=>"No influence","10"=>"10%","20"=>"20%","30"=>"30%","40"=>"40%","50"=>"50%","60"=>"60%","70"=>"70%","80"=>"80%","90"=>"90%", "100"=>"100%"),`

This feature was requ

[2015-07-14 12:18] mariusghitulescu commented on #66
and 1 typo in \wp-product-review-pro\inc\addons\WPPR-comparison-table\view\settings_page.php
`<p>Your visitators will be able to sort the products by name or review score.</p>`

*visitors

[2015-08-03 09:54] alexandrastann opened #67 "Product Image link : Affiliate link"
If I choose "Product Image link : Affiliate link", the nofollow attribute is missing.
https://wordpress.org/support/topic/two-things-to-improve-1?replies=1#post-7240737

[2015-08-03 09:54] alexandrastann opened #68 "longer text doesn't look so good"
If my text at the "pros" or "cons" are a little bit longer (2 lines), it looks not so good because the indent is missing.
https://wordpress.org/support/topic/two-things-to-improve-1?replies=1#post-7240737

[2015-08-11 11:04] claudiuvertistudio opened #69 "import google fonts issue"
@selu91 cand instalez pluginul WP product review pe Parallax One unele texte se fac bold-uite si font-urile par altele. M-am uitat prin plugin si in fisierul frontpage.css daca sterg @ import url(...) totul revine la normal.

Asa se vede acum https://drive.google.com/a/vertistudio.com/file/d/0B-5bubkEZeL-aVQtVnM4MlllRXM/view?usp=drivesdk

si asa trebuie sa se vada https://drive.google.com/a/vertis

[2015-09-04 14:34] mariusghitulescu commented on #53
Still broken.

[2015-09-07 08:54] alexandrastann opened #70 "In Safari the grade (number) isn't displayed where it should be"
adding webkit-transform: translateY(-50%) solved that problem.

https://secure.helpscout.net/conversation/118275519/45853/

[2015-09-07 20:27] #70 closed

[2015-09-07 20:27] selu91 commented on #70
solved in v2.6.2

[2015-09-08 15:25] selu91 commented on #68
@alexandrastann nu am putut sa replica bugul, tu l-ai vazut undeva sau e pe baza celor spuse de el ?

[2015-09-08 16:51] selu91 commented on #69
s-a rezolvat in 2.6.3

[2015-09-08 16:51] #69 closed

[2015-09-08 16:51] selu91 commented on #67
s-a rezolvat in 2.6.3

[2015-09-08 16:51] #67 closed

[2015-09-08 16:52] selu91 commented on #66
s-a rezolvat in 2.6.3

[2015-09-08 16:52] #66 closed

[2015-09-08 16:52] selu91 commented on #65
s-a rezolvat in 2.6.3

[2015-09-08 16:52] #65 closed

[2015-09-08 16:52] #64 closed

[2015-09-08 16:53] selu91 commented on #61
ar trebui sa nu mai fie problema acum

[2015-09-08 16:53] #61 closed

[2015-09-08 16:54] #60 closed

[2015-09-08 16:54] selu91 commented on #59
e rezolvat in 2.6.3

[2015-09-08 16:54] #59 closed

[2015-09-08 16:54] #58 closed

[2015-09-08 16:55] selu91 commented on #56
the latest version of 2.6.3 add this features.

[2015-09-08 16:55] #56 closed

[2015-09-08 16:55] selu91 commented on #55
s-a rezolvat in 2.6.3

[2015-09-08 16:55] #55 closed

[2015-09-08 16:56] selu91 commented on #54
s-a rezolvat in 2.6.3

[2015-09-08 16:56] #54 closed

[2015-09-08 16:56] selu91 commented on #53
am rezolvat pe 2.6.2

[2015-09-08 16:56] #53 closed

[2015-09-08 16:56] selu91 commented on #51
s-a rezolvat in 2.6.3

[2015-09-08 16:56] #51 closed

[2015-09-08 16:57] selu91 commented on #50
s-a rezolvat in 2.6.1

[2015-09-08 16:57] #50 closed

[2015-09-08 16:57] selu91 commented on #49
solved in 2.6.3

[2015-09-08 16:57] #49 closed

[2015-09-08 16:58] selu91 commented on #47
esti sigur ca apare, nu am reusit sa replic asta /

[2015-09-08 16:59] #46 closed

[2015-09-08 16:59] selu91 commented on #44
solved in 2.6.2

[2015-09-08 16:59] #44 closed

[2015-09-08 17:00] selu91 commented on #43
s-a rezolvat in 2.6.3

[2015-09-08 17:00] #43 closed

[2015-09-08 17:00] selu91 commented on #42
s-a rezolvat in 2.6.3

[2015-09-08 17:00] #42 closed

[2015-09-08 17:01] selu91 commented on #41
2.6.1 rezolva asta, folosim acum rich snippets de la google.

[2015-09-08 17:01] #41 closed

[2015-09-08 17:01] selu91 commented on #40
nu prea inteleg la ce te referi aici

[2015-09-08 17:02] selu91 commented on #39
s-a rezolvat pe 2.6.3

[2015-09-08 17:02] #39 closed

[2015-09-08 17:06] ineagu commented on #40
erau niste teme care aveau ceva de genu in css pt widgets :

li::before {
    content: "Read this: ";
}

Ar trebui sa ne asiguram din plugin ca pt review/widget pseudo-elementul before e gol.

[2015-09-08 17:06] selu91 commented on #32
#62 duplicate

[2015-09-08 17:06] #32 closed

[2015-09-08 17:07] selu91 commented on #30
exista in ultimele versiuni

[2015-09-08 17:07] #30 closed

[2015-09-08 17:07] #20 closed

[2015-09-08 17:08] #15 closed

[2015-09-14 09:28] mariusghitulescu opened #73 "Rich Snippets on 0% visitor influence"
When 'Visitor Review Influence' is turned off, the microtags still show "aggregateRating", instead of "reviewRating".

For author reviews only, microtags should be "reviewRating", this is why rich snippets are not displayed on websites who have only 1 review, the author's.

When Visitor influence is turned off, the microtag should be "reviewRating"

[2015-09-18 15:05] selu91 commented on #73
Fixed in 2.6.6

[2015-09-18 15:05] #73 closed

[2015-09-18 15:05] selu91 commented on #52
fixed in 2.6.6

[2015-09-18 15:05] #52 closed

[2015-10-13 13:00] mariusghitulescu opened #76 "Option to choose number of decimals"
Many have requested the option to choose rounding with 0, 1 (default) and 2 decimals.

[2015-10-30 10:41] Gouravwp opened #79 "Border issue"
please check screenshot:http://screencast.com/t/3Yapv5REns

[2016-01-12 14:01] #79 closed

[2016-02-05 10:25] ineagu opened #84 "Price richsnippet issue"
http://themeisle.com/forums/topic/rich-snippet-price-as-separate-node/#post-3866367

[2016-02-05 10:25] ineagu opened #85 "Rich Snippet warning"
https://wordpress.org/support/topic/google-review-warning-error?replies=4#post-7988912

[2016-02-08 10:55] ineagu commented on #62
There should be plugins which allows users to limit comments at 1 per user.

[2016-02-08 10:55] #62 closed

[2016-02-08 10:58] #25 closed

[2016-02-08 10:58] #31 closed

[2016-02-08 10:58] #33 closed

[2016-02-08 10:58] #34 closed

[2016-02-08 10:58] #35 closed

[2016-02-08 10:58] #36 closed

[2016-02-08 10:58] #37 closed

[2016-02-08 10:58] #38 closed

[2016-02-08 10:58] #40 closed

[2016-02-08 10:58] #45 closed

[2016-02-08 10:58] #47 closed

[2016-02-08 10:58] #48 closed

[2016-02-08 10:58] #63 closed

[2016-02-08 10:58] #68 closed

[2016-02-08 10:58] #76 closed

[2016-02-08 10:58] #84 closed

[2016-02-08 10:58] #85 closed

[2016-02-10 09:08] mileamadalin opened #86 "Indicator not responsive"
@selu91 We have an issue with the comment indicator on the mobile version.

<img width="345" alt="skitch" src="https://cloud.githubusercontent.com/assets/6906834/12942872/00e8d0b0-cfde-11e5-9ece-3d32f85628f3.png">

You can not move the blue point on mobile. I think there is a jQuery issue.

[2016-02-17 11:34] ineagu opened #89 "WPPR price parsing issue"
@contactashish13 As you can see here : https://wordpress.org/support/topic/new-version-277-problem-with-prices-display?replies=10, when I have added some parsing on the price field, in order to build the rich snippet, I have broken some configs, so we need to do 2 things :

1) We can do a do_shortcode() before parsing if users used a shortcode there ? Which should fix masterez issue

2) We should

[2016-02-19 13:15] contactashish13 commented on #89
1) added do_shortcode
2) added support for filter wppr_price_format

[2016-02-19 18:35] ineagu commented on #89
I think you misunderstood  the filter thing, I will commit a solution

On Fri, Feb 19, 2016 at 2:15 PM, contactashish13 <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2016-02-21 10:45] isaumya commented on #89
looking forward to a fix of this wired issue.

[2016-02-21 10:59] ineagu commented on #89
hey, the solution is here :
http://docs.themeisle.com/article/216-price-in-wp-product-review-is-messed-up
if you are using the development version. A public update should come next
week

On Sun, Feb 21, 2016 at 11:45 AM, Saumya Majumder <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2016-02-21 12:58] isaumya commented on #89
@ineagu Quick question. Do you guys support only one price value in the latest update? Like $100 but not like $100 - $200 (without using the patch)

[2016-02-21 13:02] ineagu commented on #89
Exactly. We did that in order to parse it and add the schema.org Offers markup and show the price in google. Probably the parser part can be improved to support what you have, but is not a priority at the moment.

[2016-02-21 13:08] isaumya commented on #89
Yah! I do understand that. Actually when you are reviewing something which has variable pricing but you mention only the starting price of the product, it seems silly to the readers. Like for example if you are reviewing a phone it can have different price depending upon the size variant.

Looking forward to the fix the the public update next week also parsing variable pricing in the future update

[2016-02-21 13:10] ineagu commented on #89
it makes sense, feel free to create an issue and we will work on it later
on.

About 2nd question, you are right, once you update to the new version, just
add that code in functions.php. That will deactivate the parsing and show
what you have in the price field.

On Sun, Feb 21, 2016 at 2:08 PM, Saumya Majumder <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinw

[2016-02-24 22:57] isaumya commented on #89
still showing the same problem - https://www.isaumya.com/windows-10-review-is-it-worth-upgrading/

on the latest version of your plugin plus added the following in my theme's function.php file

![Proof](https://cloud.githubusercontent.com/assets/2124755/13303928/fd79597c-db77-11e5-94f9-a0c8bc32b53e.jpg)

[code]

What to do?

[2016-02-24 22:59] ineagu commented on #89
ah sorry, this should return true :)

function wppr_test_filter() {
    return true;
}

On Wed, Feb 24, 2016 at 11:57 PM, Saumya Majumder <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2016-02-24 23:00] isaumya opened #90 "WPPR Variable Pricing Rich Snippet Feature Request"
Yah! I do understand that you guys are very busy. Actually when you are reviewing something which has variable pricing but you mention only the starting price of the product, it seems silly to the readers.  Like for example if you are reviewing a phone it can have different price depending upon the size variant. As the plugin only support one price for the rich snippet.

Looking forward to the fix

[2016-02-24 23:03] isaumya commented on #89
@ineagu sorry but even after making it true, it is still not showing the price properly. You can check the live link yourself.

Current code:

[code]

[2016-02-24 23:14] ineagu commented on #89
added same code on my localhost and worked, not sure what are you doing
wrong, maybe other theme functions.php or don't know..

On Thu, Feb 25, 2016 at 12:03 AM, Saumya Majumder <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2016-03-10 11:21] rodica-andronache opened #91 "Option to hide the pros/cons"
Feedback from a client:
One more feature that would be highly desirable in future releases is the ability to hide the pros/cons section if there are none listed. Just a thought. Thanks for the hard work on this plugin.

[2016-04-03 18:04] #86 closed

[2016-04-03 18:04] #90 closed

[2016-04-03 18:16] #91 closed

[2016-04-07 09:03] #89 closed

[2016-05-04 00:48] HardeepAsrani opened #93 "Limit Top Reviews Widget by Timeframe"
A user suggested that we limit top review widget by time frame, so a user can select a /week/month/year as an option and show the results based on the reviews posted in that timeframe.

[2016-05-10 15:44] HardeepAsrani opened #94 "Can't disable the review"
I tested with everything latest. Once the review is set on, you can't turn it off. No console errors. @selu91

[2016-05-11 10:17] selu91 commented on #94
@contactashish13 can you check ?

[2016-05-12 15:02] contactashish13 commented on #94
@selu91 I'm not sure what I should check. Can you please clarify?

[2016-05-12 15:42] selu91 commented on #94
@HardeepAsrani  can you please help ?

[2016-05-13 11:44] HardeepAsrani commented on #94
@contactashish13 Once you turn a post into review from the meta box located in post editor, you can't turn it off. :)

[2016-05-16 16:26] selu91 commented on #94
@HardeepAsrani it's fixed and live. you can let the users know

[2016-05-16 16:26] selu91 commented on #94
@HardeepAsrani please close the issue when you acknowledge this

[2016-05-16 18:13] HardeepAsrani commented on #94
Got it. :)

[2016-05-16 18:13] #94 closed

[2016-05-18 08:40] ineagu opened #97 "Img tag is not closed properly"
@contactashish13 can you please investigate this ?

There is a bug in your WP Product Review plugin. The img-tags in the widgets aren’t being closed correctly and we had reports from customers that the plugin is breaking markup:
<img class="cwp_rev_image wppr-col" src="<?php echo $product_image;?>" alt="<?php echo $product_title; ?>"\>
Source: https://plugins.svn.wordpress.org/wp-product-review/tr

[2016-05-21 11:12] ineagu opened #98 "Leave a review"
@selu91 have we added something like leave a review for WPPR ? Are we done with the review asking library ?

[2016-05-24 09:56] mileamadalin opened #99 "Review bar (slider) issue"
@selu91 We have an issue:

Review bar (slider) from comment section is not working as smooth as on PC desktop.

It doesn' allow the user to drag but hit on the somewhere, and cannot drag from the point you tap.

Message from the client:

"
you see the review comment form, with evaluating slider (scale 1~10, for total 4 categories),,which is working perfectly, as we wished.

However, if you see thi

[2016-05-24 10:19] selu91 commented on #99
@claudiuvertistudio can you check this please ?

[2016-05-26 11:21] #97 closed

[2016-05-27 11:57] claudiuvertistudio commented on #99
@mileamadalin This is not a bug. For this we need to use another library, jquer.mobile.js ( this is not included in wordpress, that means we cannot call with wp_enqueue_script ).

@selu91 What do you thing, that effect is important on mobile?

[2016-05-27 12:00] selu91 commented on #99
@claudiuvertistudio we can do the next thing, check if user is viewing on mobile:

https://codex.wordpress.org/Function_Reference/wp_is_mobile

And if yes, let enqueue the script for mobile.

@ineagu what do you think about this  ?, will worth adding a new script just for the mobile users ?

[2016-05-27 13:56] ineagu commented on #99
@mileamadalin @selu91 This issue was reported previously, I analysed it and closed it, is too complex and isn't something that we should care so much, if works when you tap is perfectly fine.

[2016-05-27 13:56] #99 closed

[2016-05-27 13:57] ineagu commented on #86
@mileamadalin you opened this issue 1 month before and I closed it, indeed I didn't gave much information, however check closed issues as well 💃

[2016-06-02 07:11] HardeepAsrani opened #100 "Font issue"
We are using a couple of fonts for the plugin but we aren't loading them anywhere, like Lato. So if user's computer doesn't have Lato, it loads Times New Roman which looks bad, so we should the fonts.

@selu91

[2016-06-02 10:03] selu91 commented on #100
@ineagu what do you think ?

[2016-06-02 16:00] ineagu commented on #100
can you look into it ? Why we aren't loading Lato ? where are we using it ? When we stopped loading it ? :D  I would love a more detailed overview, maybe with some screens so I can decide quicker :D

[2016-06-16 09:45] HardeepAsrani commented on #100
@selu91 I really can't answer these because I have no idea why the developer (whoever it was) decided to not load the fonts.

I presume because he thought all computer would have it, like my Windows has it preinstalled.

[2016-06-16 10:11] selu91 commented on #100
ok, im closing this until i have more details

[2016-06-16 10:17] #100 closed

[2016-06-28 19:57] HardeepAsrani opened #101 "Mutilple review styles"
The plugin should include multiple styles for the review. We can offer 2 in Lite version and have option to get additional in the Pro. @selul @ineagu

What say?

[2016-06-28 20:04] ineagu commented on #101
do you mean the main review box ? we have 2 styles for widgets.

I am not sure if is doable or easy enough since this was never took into
consideration when we have developed it.

On Tue, Jun 28, 2016 at 9:57 PM, Hardeep Asrani <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2016-06-28 20:05] HardeepAsrani commented on #101
Should be doable. If we can't completely change it then maybe some CSS can
give it little different styling.
On 29-Jun-2016 1:34 AM, "Ionut Neagu" <notifications@github.com> wrote:

[2016-06-28 20:56] ineagu commented on #101
due to the revenues of the plugin, isn't a priority at the moment, however
yes, is a good idea and we should keep this open if there is no existing
issue

On Tue, Jun 28, 2016 at 10:05 PM, Hardeep Asrani <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2016-06-29 15:20] selul opened #102 "bug rating"
can you check this:
https://wordpress.org/support/topic/bug-strange-agregate-rating-instead-of-normal-one?replies=6

[2016-06-30 04:30] contactashish13 commented on #102
@selul I can't see the "comment influence" setting anywhere. Can you help?

[2016-06-30 10:18] selul commented on #102
http://prntscr.com/bmz84p

[2016-07-01 12:29] contactashish13 commented on #102
@selul I'm not sure what the behavior is expected. Can you please advise what is required?

[2016-07-04 10:40] selul commented on #102
@HardeepAsrani can you please explain ?

[2016-07-04 20:02] HardeepAsrani commented on #102
@contactashish13 The user turned on the comment ratings when he created the post, and now he has turned off the comment ratings and deleted the ratings but the review is still the same.

[2016-07-05 08:54] selul commented on #102
@contactashish13 hardeep is talking about richsnippet, when we turn on the comments influence we show the agregate rating tag

[2016-07-07 10:26] selul commented on #102
@contactashish13 any news here ?

[2016-07-07 13:01] selul commented on #102
i have released the fix

[2016-07-07 13:01] #102 closed

[2016-07-20 17:48] #98 closed

[2016-07-27 15:20] selul opened #104 "remove addons page"
@contactashish13

i would like to remove the addons page, from the Wp product review submenu and all the code who is affected by that page.

[2016-07-27 15:25] selul opened #105 "change upsell texts to proper message"

[2016-07-27 16:01] selul opened #106 "check if run do_shortcode on all review fields"
@contactashish13 when showing the review i would like to make sure we also run do_shortcode on all the text fields of the review, like pros, cons, price, title, image, etc ..

[2016-07-27 16:25] selul opened #107 "remove dashes"
I noticed that in the plugin pros and cons render as list items (

) when the page is published, but the list items have a dash (-) by default.... like this
-some pro or some con
This is a problem because the dash stays no matter how you adjust the list item in CSS.

Can your developer fix it so it renders just

some pro or some con
, which is the way it should be?

[2016-08-05 12:10] cristianraiber opened #108 "Remove Buy now / Read review buttons if text values are empty from Top/Latest Product Widgets"
See here: https://github.com/Codeinwp/wp-product-review/blob/27f04684f51ada683dd79faa0d21851fc2a6bb76/inc/widget-layouts/style%201.php#L57-L58

There's no check to see if `$instance['cwp_tp_buynow']` actually contains anything. See attached screenshot for issue.

![screen shot 2016-08-05 at 15 10 37](https://cloud.githubusercontent.com/assets/7841556/17436303/cb982970-5b1e-11e6-835e-d1e80f6dd3cd.p

[2016-08-18 07:32] #107 closed

[2016-08-18 11:08] #106 closed

[2016-08-18 11:08] #104 closed

[2016-08-18 12:12] #105 closed

[2016-08-18 12:20] selul commented on #108
@contactashish13 can you check this for both layouts and both widgets ?

[2016-08-18 12:32] selul opened #110 "integrate a/b testing for upsell texts"
@contactashish13 i would like to build a separate script that will do some ab testing on upsell texts.

The texts will be simple html strings and will be grouped in sections.

The configuration array will look like this
[code]

The main logic will be built in a separate script which will use a filter to alter the config variable. The scope is that the general script to be used across multiple plug

[2016-08-18 12:34] selul commented on #110
@contactashish13 please take care of escaping the html and make it translation ready

[2016-08-18 13:04] rodica-andronache opened #111 "Notices on plugin activation"
http://prntscr.com/c7ajsr

 Notice: Undefined index: cwppos_show_poweredby in C:\wamp64\www\wordpress\wp-content\plugins\wp-product-review\inc\wppr-main.php on line 343

Notice: Undefined index: cwppos_show_poweredby in C:\wamp64\www\wordpress\wp-content\plugins\wp-product-review\inc\wppr-main.php on line 356
@selul

[2016-08-18 14:14] contactashish13 commented on #108
done

[2016-08-18 14:16] contactashish13 commented on #110
@selul do you also want to collect stats against each text that is shown i.e. whether it was clicked or not?

[2016-08-18 14:21] selul commented on #110
no, just echo the html. The html will include tracking links, so no need for this.

[2016-08-18 14:23] selul commented on #111
thanks @rodica-andronache  :D

[2016-08-18 14:23] #111 closed

[2016-08-18 14:27] #108 closed

[2016-08-19 15:33] selul opened #114 "add dashes in css"
@abaicus as vrea sa editam modul cum afisam lista de pros and cons la wp product review . Inainte aveam asa http://prntscr.com/c7s62s , cratima ce era pusa din html. In ultimul update am scos cratima dar se pare ca pentru unii, era importanta.

Crezi ca o putem pune din css, ca sa poate fi facut overwrite mai usor la el sa ii impacam pe toti ?

am gasit ceva aici daca te ajuta: http://stackoverflo

[2016-08-19 15:45] selul commented on #110
@contactashish13 i have added some comments there

[2016-08-28 15:10] selul opened #116 "add filters for nofollow links"
@contactashish13 here https://github.com/Codeinwp/wp-product-review/blob/production/inc/widget-layouts/style%201.php#L58-L61

We have 2 nofollow links, i would like to offer the users the chance to alter the html code of the links using filters. Please echo the html code for that, by applying a filter which will receive the post id, review link and text for buy btn or read review. will be 2 filter

[2016-08-28 15:11] #110 closed

[2016-08-29 04:10] contactashish13 commented on #116
PR: https://github.com/Codeinwp/wp-product-review/pull/117

[2016-09-01 12:48] #114 closed

[2016-09-01 12:49] #116 closed

[2016-09-02 09:21] selul opened #120 "keep upsell choice"
@contactashish13 i would like to edit the upsell links class, the one you developed, to save the upsell link per each choice and no longer choose another per each page view.

Use case :

1) User goes to the page where is the upsell link present and he will use one text variation from the config list
2) user come back, he will see the same variation

Please save the variation per each product versi

[2016-09-02 09:25] selul opened #121 "amazon upsell link"
@contactashish13 can you do a smart upsell tooltip, when the user is building an review, if he enters an amazon link in the affiliate link, show a tooltip with an upsell message. You can create a new section in the wppr_upsell_config, called amazon where you enter an lorem ipsum text. If you need any design or help with the layout of the tooltip, you can ask your friend for help.

[2016-09-03 09:41] contactashish13 commented on #120
PR: https://github.com/Codeinwp/wp-product-review/pull/122

[2016-09-03 10:44] contactashish13 commented on #120
@selul done. I wasn't sure if it mattered as I couldn't think of a scenario where it would be a problem.

[2016-09-03 13:31] #120 closed

[2016-09-05 09:02] contactashish13 commented on #121
PR: https://github.com/Codeinwp/wp-product-review/pull/123

[2016-09-05 09:07] selul commented on #121
@contactashish13 cant we have the body and text in the same section ?

[2016-09-08 22:18] HardeepAsrani opened #124 "Review knob looks weird"
Here's an example: http://themeisle.com/wp-content/uploads/gravity_forms/1-a802f9b942a19180d258d8ed48e41d68/2016/09/product-review.jpg

![Review](http://themeisle.com/wp-content/uploads/gravity_forms/1-a802f9b942a19180d258d8ed48e41d68/2016/09/product-review.jpg)

It looks weird with this color, @selul

[2016-09-13 10:12] zshah713 commented on #124
Hi,

Can I get an update on this>?

[2016-09-13 10:35] Basilakis commented on #124
@mariusghitulescu an update here please, if possible.

Thanks a lot

[2016-09-13 11:10] mariusghitulescu commented on #124
@Basilakis you got the wrong Marius :) It'd also be helpful if we had a link to the website where we can see the issue or at least the color hex code of the color used if it's only happening with that color.

[2016-09-13 12:58] Basilakis commented on #124
Hey Marius, I am sorry.

@zshah713 Our main developer reported us, that this will be done most probably by next week.
Thanks a lot for your patience and understanding

[2016-09-13 15:40] zshah713 commented on #124
That's a really long time...

Kind Regards,

*Zain Shah*
SEO Consultant
*Phone*: 832-663-7761
*Email*:  zain.y.shah@gmail.com
*Skype*: zainshah1
LinkedIn <https://www.linkedin.com/in/zainshah1> | Search Engine Journal
<https://www.searchenginejournal.com/author/zain-shah/>

On Tue, Sep 13, 2016 at 7:58 AM, Basilis Kanonidis <notifications@github.com

[2016-09-14 14:08] mileamadalin opened #125 "Shortcode don't work into Button field"
@selul @contactashish13 We have a bug here. The customer can not use the shortcode into button filed. When I tried to save the settings in my post, the shortcode was broken. Please see the image attached:

![screenshot_13](https://cloud.githubusercontent.com/assets/6906834/18515381/d986f176-7a9d-11e6-856d-f30d5bd5ca8b.png)

[2016-09-15 17:35] selul commented on #121
@contactashish13 let's keep it as they are now, dont need to move them in the same section. i have added some comments to the commit , regarding the wppr prefix, i know we used before cwp, but this was a mistake so in order to keep compatibility with addons we cant change it for the moment. As for the new classes/ids/functions/filter/actions we will use wppr

[2016-09-16 12:58] mileamadalin commented on #125
mutat pe pro

[2016-09-16 12:58] #125 closed

[2016-09-17 12:38] contactashish13 commented on #121
@selul I can't see the comments on the commit.

[2016-09-17 16:30] contactashish13 commented on #121
@selul nevermind, the comments are in the pull request :)

[2016-09-19 04:34] contactashish13 commented on #121
@selul PR: https://github.com/Codeinwp/wp-product-review/pull/126

[2016-09-20 15:08] zshah713 commented on #124
Hi,

Any update on this guys?

Kind Regards,

*Zain Shah*
SEO Consultant
*Phone*: 832-663-7761
*Email*:  zain.y.shah@gmail.com
*Skype*: zainshah1
LinkedIn <https://www.linkedin.com/in/zainshah1> | Search Engine Journal
<https://www.searchenginejournal.com/author/zain-shah/>

On Tue, Sep 13, 2016 at 7:58 AM, Basilis Kanonidis <notifications@github.com

[2016-09-20 15:12] Basilakis commented on #124
Hey @zshah713 @selul is responsible for that and he is managing the updates.

Please note that we are working hard to keep track of all the issues and we do provide updates to everything, but we also take in consideration issues / bugs that come from our PRO users and we prioritize everything based on users who report it.

We appreciate your patience into the issue a lot.

[2016-09-20 15:23] zshah713 commented on #124
Its hard to up sell me on a paid version when the tool is not working!

But honestly, I'm totally up for buying once it works properly.

Kind Regards,

*Zain Shah*
SEO Consultant
*Phone*: 832-663-7761
*Email*:  zain.y.shah@gmail.com
*Skype*: zainshah1
LinkedIn <https://www.linkedin.com/in/zainshah1> | Search Engine Journal
<https://www.searchenginejournal.com/author/zain-shah/>

On Tue, Sep 20, 20

[2016-09-20 15:33] Basilakis commented on #124
@zshah713 can u show me your site and where that happens?

Thanks a lot

[2016-09-20 15:38] zshah713 commented on #124
Hi.

https://www.heavenlystyled.com/blog/2016/09/05/10-professionals-that-should-use-coworking-spaces/

If you look at the rating pie chart, the color is coming outside the image!
Looks weird.

Kind Regards,

*Zain Shah*
SEO Consultant
*Phone*: 832-663-7761
*Email*:  zain.y.shah@gmail.com
*Skype*: zainshah1
LinkedIn <https://www.linkedin.com/in/zainshah1> | Search Engine Journal
<https://www.searc

[2016-09-20 15:54] Basilakis commented on #124
loaded that page and can not see the pie chart anywhere

[2016-09-20 16:23] zshah713 commented on #124
Hi,

Please check again. And I just bought the pro version, so I expect this to
be fixed asap:

https://www.heavenlystyled.com/blog/2016/09/05/10-
professionals-that-should-use-coworking-spaces/

Kind Regards,

*Zain Shah*
SEO Consultant
*Phone*: 832-663-7761
*Email*:  zain.y.shah@gmail.com
<javascript:_e(%7B%7D,'cvml','zain.y.shah@gmail.com');>
*Skype*: zainshah1
LinkedIn <https://www.linkedin.co

[2016-09-30 11:32] HardeepAsrani opened #129 "Use small images"
Widgets and review takes the big image and then scales so it could fix it in the review image. It's better to use. More details: https://wordpress.org/support/topic/full-size-images-in-widget-and-pagespeed/

[2016-10-04 11:54] stayallive opened #131 "Enable / disable rich snippets"
It would be very usefull to be able to disable the rich snippets since we would like to have a shortcode in our content that displays the review and also the default display on the bottom causing Google to see two reviews and thus ignoring both on the search results page :(

[2016-10-04 16:12] ineagu commented on #131
I agree with this @selul  I just haven't done it cause it was a mess some time ago. Ideally in pro version we can also give more granular control for people so they can edit the details , something like : https://wordpress.org/plugins/all-in-one-schemaorg-rich-snippets/screenshots/ .

[2016-10-04 16:42] jphorn commented on #131
I really like the granular control which [WP Rich Snippets](https://wprichsnippets.com/doc/shortcodes/) offers in their shortcode. Their extensibility *and* the option in the shortcode to disable the microdata output would be perfect imho.

[2016-10-04 20:23] selul commented on #131
Thanks for feedback, i will prepare the specs for the next releases and we will include it.

[2016-10-10 07:31] selul opened #132 "pro features"
as  we discussed i would like to introduce the pro features page. make sure it will not show if pro is enabled

[2016-10-11 16:07] contactashish13 commented on #132
@selul I've pushed my changes in. Please suggest improvements. PR: https://github.com/Codeinwp/wp-product-review/pull/128

[2016-10-26 14:43] mileamadalin opened #133 "German Translation issue"
@selul @rodica-andronache Problema este ca nu se traduc titlurile de Pros so Cons. Chiar daca a modificat fisierele .po si .mo nu se schimba. Aici am testat si eu si problema chiar exista, nu se traduc.

![](https://d33v4339jhl8k0.cloudfront.net/inline/12894/4a7529784177758d6da41001d1cc7f383dabaaa6/825412c2b40377824faa8503519933edd052c33d/Screenshot_1.png)

[2016-11-09 14:25] mileamadalin opened #135 "feature review bar (slider) is not working"
@selul the customer ticket: https://secure.helpscout.net/conversation/168809086/73355/?folderId=212390

It doesn' allow user tap&amp; drag but hit on the somewhere, and cannot drag from the point you tap,,,,

[2016-11-14 16:41] selul commented on #135
[wppr-mobile-fix.zip](https://github.com/Codeinwp/wp-product-review/files/589866/wppr-mobile-fix.zip)

here you go, you can send the user this plugin and the slider should work accordingly.

[2016-11-14 16:41] selul commented on #135
@mileamadalin please close it once done

[2016-11-15 09:56] mileamadalin opened #136 "WPPR - Best size for images"
@selul We should add a small text in setting to add the best size for the thumbnail image. Under or above this text: "*If no image is provided, featured image is used" In Product Review Extra Settings. What do you think?

[2016-11-15 10:12] mileamadalin commented on #135
@selul Thanks

[2016-11-15 10:12] #135 closed

[2016-11-29 13:32] HardeepAsrani commented on #93
@selul Another person asked for it.

[2016-11-30 11:05] HardeepAsrani opened #137 "Widget image size"
Images in widget's second style are square, while the book covers aren't, so they shouldn't be cropped like that. And what other repos should I add this issue to? @selul

[2016-12-01 16:36] #132 closed

[2017-01-18 09:03] HardeepAsrani opened #140 "Widget title wrong"
Widget title of products should be the name of the product, not the post/page title. @selul

[2017-01-18 22:41] #140 closed

[2017-03-07 23:27] UVLabs commented on #62
+1

[2017-03-13 15:17] ineagu opened #143 "amp support"
https://wordpress.org/support/topic/amp-support-11/

cc @selul

[2017-03-16 20:10] mileamadalin commented on #133
@rodica-andronache aici mai facem ceva? :D

[2017-03-16 20:37] selul commented on #133
@mileamadalin nu momentan, or sa fie niste modificari in plugin si o sa schimbe o parte din ele. o sa ne ocupam dupa de traduceri.

[2017-03-16 20:37] #133 closed

[2017-05-03 02:23] HardeepAsrani opened #144 "Hooks & Filters"
A really great suggestion: https://wordpress.org/support/topic/request-for-hooks/

What say? @selul

[2017-05-03 11:34] mileamadalin opened #145 "Conflict with SiteOrigin 2.5+ version"
@selul Our plugin have a conflict with the latest version of the SiteOrigin plugin. I attached you tow images to see the problem.

How WP Product Review looks like with version 2.45 version of SiteOrigin

<img width="677" alt="screen shot 2017-05-03 at 2 28 12 pm" src="https://cloud.githubusercontent.com/assets/6906834/25658821/80536df2-300d-11e7-8d63-7581b0b97255.png">

How WP Product Review look

[2017-05-05 03:13] UVLabs commented on #136
+1

[2017-05-05 03:17] UVLabs opened #146 "Changes not pulled when previewing after post publish"
@selul if you try previewing a post with the review turned on before initial publish— it will show your changes.

But if you publish the post, then try changing the review data and preview, it will no longer show the change until you click "update" to update the post.

[2017-05-06 01:03] HardeepAsrani commented on #143
So to add the plugin to AMP the person has to use the shortcode extension. If you add the plugin to the post content using shortcode it works. I noticed that you can't use Google AMP if you're using WP Product Review because of some errors with our code. I've fixed it and will send a pull.

[2017-05-06 01:31] HardeepAsrani commented on #143
Apart from that, if someone is using AMP for WP plugin then we can use `ampforwp_after_post_content` and `ampforwp_before_post_content` to add to the template.

[2017-05-06 18:57] HardeepAsrani commented on #101
@selul Any we doing it or should we close?

[2017-05-06 18:58] HardeepAsrani commented on #131
Any update here? @selul

[2017-05-06 18:58] HardeepAsrani commented on #136
+1

[2017-05-06 20:40] HardeepAsrani opened #148 "Load CSS only on review pages"
CSS should only be loaded when the review box is present. If you install the plugin and don't have any reviews, it will still load the CSS.

[2017-05-14 19:13] UVLabs opened #150 "Filtering option to easily find review posts"
It's sometimes hard finding review posts amongst other posts on a website, could we maybe implement a filter similar to what YoastSEO does to easily filter review posts?

http://prntscr.com/f7siux

[2017-05-17 10:34] jphorn opened #151 "Use JSON-LD for Rich Snippets"
Please note Google now supports and **[recommends](https://developers.google.com/search/docs/guides/intro-structured-data)** JSON-LD implementation for all rich snippets.

[2017-05-17 10:34] jphorn commented on #131
Any update? See also #151.

[2017-05-22 01:21] UVLabs opened #152 "[Feature Request] Top Reviews Widget Time Span"
"Limit the date of the reviews to 1/year 1/month or something.. because you will have always the same reviews in the widget.... if you have one review with 100/100 point never disappear no matters how old is the product."

[2017-05-29 09:21] selul opened #153 "continue refactor"
* [ ] Build the admin dashboard using the current design ( have a look at revive network dashboard on how it should look )
* [ ] Build templating system for 3 view types of the review and widget layouts.
* [ ] Build review query class which will handle bulk review query.
* [ ] Build unit testing for wppr model methods, wppr global settings and wppr review query.

[2017-05-29 12:53] HardeepAsrani commented on #93
+1: A user asked on HS to give this priority. @selul

[2017-05-29 13:18] Naismith75 commented on #93
Please add this feature, the widget is not useful in the actual way.

[2017-05-29 13:19] Naismith75 commented on #152
Please add this feature, the widget is not useful in the actual way.
Other reviews plugins have this, i don't want to change.

[2017-06-20 18:46] selul commented on #153
* nu avem ce sa mai folosim logica din admin, vechiul cod, sunt o gramada de chestii scoase de acolo si refolosite, ti-am mai spus si dinainte.
* sterge wppr core, nu e nevoie de el.
* Wppr-options-abstract sters
* Sanitizer helper sters, nu e nevoie de el.
* logger facut ca si static nu e nevoie sa extindem din el
* Global options sunt diferite de editor options, nu am inteles de ce le-ai refolos

[2017-06-21 06:05] Naismith75 commented on #152
Please add this feature, is not complex and very useful.

[2017-06-28 13:34] HardeepAsrani opened #154 "Widgets not working with page builders"
Ref: https://wordpress.org/support/topic/change-widget-button-text-inside-plugin-code/#post-9269625

Widgets aren't working because they require some JS which we only load on Widget page, not Post editor.

Should we load it on editor as well? I can send a pull. @selul

[2017-06-30 14:02] #153 closed

[2017-06-30 14:08] selul opened #155 "test round"
@contactashish13 i would need you help for testing the refactor for this plugin.
The new code is in the refactor-v2  branch and the actual production ready is in the production.
I would name the old version `OLD`  and the new one `NEW`

1) Use  OLD and create a review.  Make sure you fill in all the fields and install the NEW one and check if the variables are preserved.
2) Check if after switch t

[2017-06-30 16:03] Naismith75 commented on #152
Please, support your product... don't leave your users alone.

[2017-07-03 06:48] contactashish13 commented on #155
@selul

**v4.7.2 and v4.8**

1. option for good is not available
![image](https://user-images.githubusercontent.com/12953439/27780037-4de5e7da-5fe4-11e7-9bbc-0a7916210ed0.png)

2. overall rating is incorrect
old version
![image](https://user-images.githubusercontent.com/12953439/27780127-cd2a8532-5fe4-11e7-9340-5294dddac023.png)

new version
![image](https://user-images.githubusercontent.com/12953

[2017-07-07 22:57] UVLabs opened #156 "Broken image area if no image"
@selul http://prntscr.com/fsztwp

[2017-07-17 11:49] ineagu commented on #154
I think @preda-bogdan can look at this, we can load in the editor as well, but only for builders I suppose.

[2017-07-17 13:30] preda-bogdan commented on #154
@HardeepAsrani

Solved in the new release.

cc: @ineagu

[2017-07-17 16:13] ineagu commented on #131
cc @selul @preda-bogdan

[2017-07-19 09:09] selul commented on #155
@contactashish13 can you do a new round of testing ?

[2017-07-20 05:53] contactashish13 commented on #155
@preda-bogdan @selul the option for "good" is now available in the settings but the score calculation gives the same incorrect result as before.

[2017-07-20 08:50] preda-bogdan commented on #155
@contactashish13 did you start from a new product review made with the old version. Because it moves the settings to a new place on first run and then serves them from there. So if you saved the review on the new version it will have the new scores. It does not update them if the new setting already exists.

I would suggest doing a new product review on the old version, activate the refactor and c

[2017-07-20 10:57] contactashish13 commented on #155
@preda-bogdan i'm not sure what you mean. Here is what I did:

1. Activated old
2. Saved some settings
3. Saved a review
3. Activated new
4. Viewed the review without saving

Is this not the right approach?

[2017-07-20 11:23] preda-bogdan commented on #155
@contactashish13
1. Activate old
2. Create a new post
3. Activate Product & Configure settings
4. Save review ( Check Overall rating )
5. Activate new
6. View rating w/o save ( Check Overall rating )

Then
1. Activate old
2. Check Post that had problem with Overall Review
3. Take note of existing settings set.
4. Activate new
5. Go to Post check settings and set as same as Old
6. Check Overall Rat

[2017-07-20 11:29] contactashish13 commented on #155
@preda-bogdan don't you think your approach would sacrifice backward compatibility? If I as a user have configured a review and I have to do all the above things instead of just expecting it to work out of the box, would it not be bad UX?

cc @selul

[2017-07-20 11:32] selul commented on #155
@contactashish13 we are reworking also the pro version so both of the will get released in the same time.

For compatibility issues, when using old pro and new lite, i fine if the review is showing like before and no fatal errors occurs. I'm fine if the admin review editor dont work or other settings does not get saved.  In this case we will recommend them to update the pro version also in order t

[2017-07-20 11:35] contactashish13 commented on #155
@selul are you saying this point is not valid for testing?

[2017-07-20 11:37] contactashish13 commented on #155
@selul just to clarify again, this is the approach I followed

1. Activated old
2. Saved some settings
3. Saved a review. The review showed a score of 8
4. Activated new
5. Viewed the review without saving. The review showed a score of 4.8

[2017-07-20 12:00] preda-bogdan commented on #155
@contactashish13
Settings are being moved to a new variable for storing, the way I asked you to test ensures backwards compatibility for the first time the update is being deployed.

Because you have loaded the plugin before (the new version) now you have settings saved for that post ID with malformed data.

If you create a new post on the old version it will be the same as not having the new vers

[2017-07-20 12:35] contactashish13 commented on #155
@preda-bogdan I've followed your suggestion and the scores are still wrong. I create a new post after activating the old version and then viewed it after activating the new version - I still got the score as 4.8

@selul can you please confirm you have merged the changes?

[2017-07-20 12:43] preda-bogdan commented on #155
@contactashish13 there are no changes to be merged if you use the `refactor-v2` branch of this git repo, you have the latest version. Did you do a `git pull` for this branch?
When activated does the new version indicate `v3.0.0` inside the plugins page?

[2017-07-20 12:44] contactashish13 commented on #155
@preda-bogdan yes it shows 3.0.0. let me test it on a fresh WP install

[2017-07-20 13:28] contactashish13 commented on #155
@preda-bogdan I tried it on a fresh install and it works properly when I followed the exact steps as before.  I'm not sure why it was not working on an existing install. It might be a good idea to make it on an existing install as well. There could be an edge case.

[2017-07-25 05:27] UVLabs opened #157 "Post title of review post in name field in comparison table"
In the comparison table it says name, but it's just the featured image of the post @selul not sure how exactly we'd approach this but something is missing here I think

[2017-07-25 15:55] HardeepAsrani commented on #157
It shows either name or image. We should have both there.

[2017-07-25 16:43] poonam279 commented on #157
If we use **img** in the shortcode then it replaces the name with the featured image.

[2017-07-28 01:03] HardeepAsrani opened #158 "Option to remove data upon uninstall"
When user choose to uninstall, we should have an option to remove all the data, if they want to.

@selul @ineagu

[2017-07-31 07:36] #155 closed

[2017-07-31 07:39] selul commented on #151
@preda-bogdan let's remove the current rich snippets from the new version and the support for JSON-LD. I think this will also make the code much easier to follow and we can add also a setting in the global settings area for enable/disable this

 - [ ] Add JSON-LD support
 - [ ] Add setting for enable/disable this.

[2017-07-31 07:41] selul opened #159 "templating system"
@preda-bogdan for all layouts used in the free and pro version you need to add the option to be overwritten in the theme folder.

basically if a file with the same name exists in the wppr folder of the theme, we use that instead of the one from plugin.

[2017-07-31 09:47] #156 closed

[2017-07-31 09:47] #124 closed

[2017-07-31 09:47] #129 closed

[2017-07-31 09:48] #148 closed

[2017-07-31 09:48] #131 closed

[2017-07-31 10:29] preda-bogdan commented on #151
@selul Done please check if implementation is as intended.

[2017-07-31 10:32] selul commented on #151
@preda-bogdan can you use the same textdomain wp-product-review instead of cwppost, even if that one was before.

[2017-07-31 10:32] preda-bogdan commented on #159
@selul all templates are now checked in a folder called `wppr`

The templates that can be override are:
default.php -- the default full post product view
rating.php -- the minimalist rating template from PRO
score.php -- the score template from PRO
table.php -- The table template from PRO ('The Comparison table Addon PRO')
listing.php -- The listing template from PRO ('The Listings Addon PRO')

[2017-08-01 16:24] #159 closed

[2017-08-01 16:24] #151 closed

[2017-08-14 11:02] selul opened #161 "build unit testing"
@preda-bogdan let's build the uni testing cases for the lite version:

- [x]  Review enabling
- [x] Review correct rating calculation
- [x] Review parameters saving
- [x] global settings update and correct usage of them
- [x] Comments review

[2017-08-22 07:31] #161 closed

[2017-08-22 07:32] selul opened #162 "style the admin options panel."
@bogdanpopa90 we need to style a bit better the current admin options panel.

let me know when you are checking it to talk about.

[2017-08-22 20:44] #162 closed

[2017-08-22 20:47] selul opened #163 "assets plugin"
@bogdanpopa90 we need to make the assets for the demo.

here is the website:

https://demo.themeisle.com/wp-product-review/

we need also 6 featured images for the next posts, which are work in progress:

 - Default review
 - Comparision table
 - Listing table ( list review in a grid view )
 - Show reviews using shortcodes.
 - Reviews rating using custom icons
 - Review with comments ( how a revie

[2017-08-24 10:24] #163 closed

[2017-08-24 14:31] selul opened #166 "load assets when needed"
Currently the frontend assets loading is not the best one, i would like to optimize them a bit and separate the files accordingly.

1) js files for pie chart loading.
2) js file for rating loading
3) css file for widget  style 1
4) css file for widget default
5) css for pie chart only.
6) css for full review box
7 ) css for comparison table.
8) css for listing table

the inline css and  js strings

[2017-08-24 14:33] selul opened #167 "rebuild the template engine"
as we talked,  i would like to use the template logic we talked about for the frontend layouts.

[2017-08-24 14:43] selul opened #168 "refine query model"
i have some ideas to improve the query model.

-  All the results returned by the find should be review ( WPPR_Review_Model ) objects, not arrays as now.
-  The find should allow finding by post_type., atm i have edited to support page post type, besides the post
-  if we will integrate multiple post_type finding, we will need to allow filtering by custom taxonomies, but i think it will work out o

[2017-08-24 21:46] HardeepAsrani opened #169 "Widgets not working with revamp"
Since the revamp, the alternative style of the widgets isn't working. If you add it, you won't be able to see the affiliate and read review link.

For the affiliate link, it's not being saved. I can't find it in the custom fields either. And for the Read Review link, we're using `get_the_permalink` outside the loop, so that's why.

@preda-bogdan @selul

[2017-08-24 23:18] selul opened #170 "amp support"
we should provide amp support for the plugin.

[2017-08-24 23:19] selul commented on #170
we should provide amp support for the review box.

[2017-09-01 13:43] ineagu opened #177 "no space between image and product in widgets"
Here is how they look like : https://www.dropbox.com/s/d3cjcg27u4oogtc/Screenshot%202017-09-01%2016.42.31.png?dl=0, can we check the space that existed before and add it back? 3% padding-left looks ok I think

[2017-09-06 11:05] #169 closed

[2017-09-06 11:13] #177 closed

[2017-09-08 20:04] HardeepAsrani opened #179 "Plugin doesn't work with Disqus and Jetpack Comments"
When Disqus or Jetpack Comments are enabled, the user review doesn't work. And people think it's our plugin not working, so we should display a notice about it if the user is using either comment plugins.

Here's a recent example: https://wordpress.org/support/topic/a-little-disappointed/

@selul @ineagu

[2017-09-08 20:05] ineagu commented on #179
Good idea

[2017-09-12 16:23] HardeepAsrani opened #181 "Manually Place content option"
Lite version has Manually Place option for the review box while it doesn't support the shortcode, but has some weird sentence below that doesn't make much sense: https://s.nimbus.everhelper.me/share/1114481/io45zwsmzwq62fzuosrh

@selul

[2017-09-13 09:12] #167 closed

[2017-09-16 11:16] mileamadalin commented on #181
@selul We have two clients who reported us this issue. I have checked as well on my local machine and have the same problem. The shortcode doesn;t work for the Manual Place (Lite and Pro version same issue).

[2017-09-19 17:41] HardeepAsrani opened #185 "Remove Pro/Cons if none exist"
Something which has been asked hundreds of times in past 2-3 years. Here's how a review looks with Pro/Cons:

![screenshot-disgusted-manx w4 poopy life-2017-09-19-22-59-03](https://user-images.githubusercontent.com/2649903/30606385-327b567c-9d8f-11e7-9c11-661ce47e3848.png)

If the Pro/Cons don't exist, we can remove it and make the column 100% or just do something like this:

![af](https://user-im

[2017-09-19 17:52] ineagu commented on #185
an idea is to show there a message if comments are activated, like : Rate
it yourself. @alexandra can come up with a design for it

On Tue, Sep 19, 2017 at 6:41 PM, Hardeep Asrani <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2017-09-21 16:40] selul commented on #185
i've added a workaround for now which hides the sections.

[2017-09-21 16:40] #185 closed

[2017-09-21 16:45] #181 closed

[2017-09-22 12:59] #168 closed

[2017-09-22 12:59] #157 closed

[2017-09-22 13:00] #154 closed

[2017-09-22 13:00] #145 closed

[2017-09-22 13:41] selul commented on #170
it should work just fine now.

[2017-09-22 13:41] #170 closed

[2017-09-22 13:42] selul commented on #179
@contactashish13 can you investigate if we can tie the comments box to either of those ?

Thanks !

[2017-09-22 13:52] selul commented on #146
it should be ok now

[2017-09-22 13:52] #146 closed

[2017-09-22 13:52] #143 closed

[2017-09-22 13:53] #101 closed

[2017-09-22 14:04] selul opened #186 "add widget review selector."
@contactashish13 we should for the latest and top widgets available a selector for selecting the post_type to choose when querying the reviews.

The review query class is allowing post_type filter, you can check that, for the moment we use post and page post types when querying.

I would like to add one selector to each widget, where users can select from the available post_types or all of them wh

[2017-09-22 14:05] #152 closed

[2017-09-22 14:05] #93 closed

[2017-09-22 14:08] selul opened #187 "top reviews widget time span"
@contactashish13 for top review widget, i would like to add a timespan selector having this value.

latest week, latest month, last 3 months, last half year, last year.

This selector will filter the reviews who were published ( post_date ) only in the desired time interval. The best way is to add a new component in the find method for review query class, which will accept the date interval.

Base

[2017-09-22 14:10] selul commented on #166
@contactashish13 can you take care of this ?

[2017-09-22 16:55] ineagu commented on #179
I am pretty sure we cannot do much in terms of integration, what we can
have rather is a dashboard notice : "We see disqus active, so user feedback
is disabled", even more we can just disable and lock that section so users
can't enable it unless they deactivate those plugins.

On Fri, Sep 22, 2017 at 2:42 PM, Marius Cristea <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | h

[2017-09-22 17:43] selul commented on #179
@ineagu yes, i think you are right.

let's do the next thing, if one of those is active, we can make that setting disabled and add a error message in the description of that field.

[2017-09-22 20:35] selul opened #188 "build review rating on css instead of js"
@bogdanpopa90 as we talked, we should try to build the pie rating using css only, without any js help.

we should have an exact match between the js and css version.

[2017-09-26 09:19] selul opened #189 "tags and categories are considered the same in the review query."
@contactashish13 when querying a set of reviews, based on the category name, we don't consider the taxonomy type. let me give you an example.

We have in the system two categories  with slug name `vegetables` and a tag name with the same slug `fruit`

we have a widget which queries reviews from vegetables category.

we have a review which has the tag fruit but is not in the vegetables category.

t

[2017-09-26 09:20] selul commented on #189
it might get solved when  https://github.com/Codeinwp/wp-product-review/issues/186 is finished

[2017-09-27 04:33] contactashish13 commented on #186
@selul PR: https://github.com/Codeinwp/wp-product-review/pull/190

[2017-09-27 07:53] contactashish13 commented on #187
@selul maybe we can use something like https://jqueryui.com/slider/#range and let the user toggle weeks? This might make it more flexible. Let me know

[2017-09-27 08:10] selul commented on #187
ok, might work, let's add between 1-99

[2017-09-28 06:48] contactashish13 commented on #187
@selul PR: https://github.com/Codeinwp/wp-product-review/pull/191

I've made the selector between 52 weeks and 0 and defaulted it to 1 and 0. These values can be changed if they dont work.

[2017-09-28 07:41] selul commented on #187
@contactashish13 i would like the default to be zero, and in this case to ignore the time interval, to work like now.

if this is not the actual behaviour we should make it.

[2017-09-28 09:29] contactashish13 commented on #187
@selul done.

[2017-09-28 17:01] contactashish13 commented on #187
@selul i don't see any comments on the commit or the PR

[2017-09-29 07:50] selul commented on #187
ah, i forgot to submit the review :D

[2017-09-29 19:59] contactashish13 commented on #166
@selul PRs: https://github.com/Codeinwp/wp-product-review-pro/pull/57 and https://github.com/Codeinwp/wp-product-review/pull/192

I could not find this

[2017-09-30 08:37] selul commented on #166
you can find it in the legacy.php in lite version.

[2017-10-01 09:41] contactashish13 commented on #166
@selul done.

[2017-10-01 11:02] contactashish13 commented on #179
@selul PR: https://github.com/Codeinwp/wp-product-review/pull/193

[2017-10-05 05:22] contactashish13 commented on #189
@selul I'm not sure I understand the below. I dont think one can have two categories with the same name. Can you please clarify?

[2017-10-05 07:47] selul commented on #189
not categories, i'm talking about tag and category, one tag having the same name as a category.

[2017-10-05 14:10] contactashish13 commented on #189
@selul PR: https://github.com/Codeinwp/wp-product-review/pull/196

[2017-10-06 13:07] selul commented on #186
@contactashish13 i get this https://drive.google.com/file/d/0B8cbkQkB9YbnRnNpMmFpd0NlUVU/view when using the review selector, i think the content get refreshed and the binds get removed

[2017-10-06 15:02] contactashish13 commented on #186
@selul strangely, my WP on both 4.7.2 and 4.8.2 has no support for live widget - they still add widgets in the old way so I could not test these. Have tested on sandbox and fixed.

[2017-10-12 13:00] selul commented on #187
@contactashish13 can you fix the conflicts in this pr ? https://github.com/Codeinwp/wp-product-review/pull/191

[2017-10-12 13:00] #189 closed

[2017-10-12 13:01] #179 closed

[2017-10-12 13:07] #186 closed

[2017-10-13 05:59] contactashish13 commented on #187
@selul done

[2017-10-18 18:43] HardeepAsrani opened #199 "Having star/heart rating for comments"
Can we have a star or heart rating for comments, as an alternative to slider? @selul

[2017-10-24 09:54] selul opened #200 "issue with latest dev version"
@contactashish13 using the development version of wppr, when building a new review , if i get to see it from the frontend i get this:
![image](https://user-images.githubusercontent.com/3330746/31936505-6ab37074-b8ba-11e7-8c13-f890585e0288.png)

[2017-10-24 16:12] ineagu commented on #158
agree

[2017-10-24 16:12] ineagu commented on #144
is this added yet ?

[2017-10-24 16:19] selul commented on #144
nope

[2017-10-24 16:19] selul commented on #158
is not that easy as we store each review as post meta.

[2017-10-25 08:25] contactashish13 commented on #200
@selul I'm not sure the sections and fields should be defined when its a front-end call. Anyways, I've fixed it so that disqus and jetpack are not checked if the page is being called from the front end.

PR: https://github.com/Codeinwp/wp-product-review/pull/202

[2017-10-31 15:20] #200 closed

[2017-11-01 14:18] rohittm opened #204 "CSS overlapping in Plugin's page"
The text is overlapping in Plugin's page i.e. **Product Review > Product Review**

I tested it in Google Chrome, And Safari.

Here are the screenshots:

**Full Screen**

![Full Screen](https://user-images.githubusercontent.com/3204558/32278997-6609d0ac-bf3d-11e7-933a-021d62da2493.png)

**Responsive**

![Responsive](https://user-images.githubusercontent.com/3204558/32279018-776d2736-bf3d-11e7-8ef3-

[2017-11-01 15:33] rohittm opened #205 "Ratings not showing up in Widgets"
This is the Actual Product:

**In Master**

![screen shot 2017-11-01 at 9 05 29 pm](https://user-images.githubusercontent.com/3204558/32282755-79e51ef0-bf48-11e7-92ac-25f6237ed20c.png)

**In Development**

![screen shot 2017-11-01 at 8 56 35 pm](https://user-images.githubusercontent.com/3204558/32282780-86758bdc-bf48-11e7-8082-ee7d2183ca69.png)

The Master Branch Plugin's Widget Shows:

![screen s

[2017-11-01 16:29] rohittm commented on #205
Also, The colours of ratings in comment does not shows up in Development Branch Plugin.

**In Master**

![screen shot 2017-11-01 at 9 50 07 pm](https://user-images.githubusercontent.com/3204558/32285303-e6b6068c-bf4f-11e7-96f9-d41dbeeb089f.png)

**In Development**

![screen shot 2017-11-01 at 9 49 20 pm](https://user-images.githubusercontent.com/3204558/32285342-f920ca32-bf4f-11e7-90f2-a2258f9fc27

[2017-11-04 18:49] rohittm commented on #205
The fix by @bogdanpopa90 works fine with Safari but on Google Chrome, it shows:

![screen shot 2017-11-05 at 12 17 42  #am](https://user-images.githubusercontent.com/3204558/32408509-e9b9bbc8-c1be-11e7-8e82-de48ae5c1f95.png)

#197

[2017-11-06 07:55] harshv251 opened #207 "Include/Exclude categories based on social media network for Revive Old Posts plugin"
One user has suggested a feature request for Revive Old Posts plugin, Include/Exclude categories based on social media network. Please check this thread for more details
https://wordpress.org/support/topic/include-exclude-categories-based-on-network/#post-9654176

[2017-11-07 15:50] #166 closed

[2017-11-07 15:50] #187 closed

[2017-11-07 15:56] selul commented on #207
@harshv251 i think you have added in the wrong repo :D

[2017-11-07 15:56] #205 closed

[2017-11-07 15:57] #204 closed

[2017-11-07 16:00] HardeepAsrani commented on #207
That's my mistake. I copied wrong link from my browser. :D

[2017-11-07 16:03] selul opened #209 "load assets per template"
right now almost the frontend templates are fully separated from the backend logic, and those can be replaced in the wppr folder, inside the theme/child theme.

The only two views that are not using the templater class are those for the comment form and comment rating ( the view which displays the user's rating after he rated the product )

We will need to also use the templer class for those two.

[2017-11-07 16:08] #207 closed

[2017-11-07 16:08] #188 closed

[2017-11-07 17:25] selul opened #210 "improve comments rating"
i would like to improve how the ratings are stored and how they affect the review.

Right now the comments rating is affecting only the global rating value, the individual options are still still using the editors rating. Some users get confused  because the comments ratings are no reflected to the review options too.

Also another issue is that the top widgets rating is sorting the rating correct

[2017-11-09 10:24] ineagu opened #211 "comments rating display"
@selul here is how comments ratings looks like on islemag -> https://www.dropbox.com/s/70589ukej05uth8/Screenshot%202017-11-09%2010.23.19.png?dl=0

https://www.wabeo.net/bu-saint-jerome/

[2017-11-09 10:25] selul commented on #211
@bogdanpopa90 can you have a look

[2017-11-15 14:26] contactashish13 commented on #209
@selul some assets are generic and not dependent on the template e.g. lightbox assets. do you want these to be also loaded from the template class or can they remain where they are?

[2017-11-15 14:42] selul commented on #209
lightbox is dependent by default template.

for all that are used across all templates, yes, i would like to load with the template class.

[2017-11-17 07:57] contactashish13 commented on #209
@selul https://github.com/Codeinwp/wp-product-review/pull/213

[2017-11-17 15:00] contactashish13 commented on #210
@selul can you check if the calculation is correct for part 1 of the issue: https://github.com/Codeinwp/wp-product-review/pull/214 ?

[2017-11-17 17:55] selul commented on #210
@contactashish13 yes, it seems ok, i dont understand the purpose of $prefix variable, could you please share you thoughts ?

also, one small recommendation would be to use in your code a return early approach, which makes you code easier to read and follow.

For instance those lines:

[code]

Could be turned into:

[code]
Which for me seems easier to read.
Makes sense ?

[2017-11-18 04:36] contactashish13 commented on #210
@selul will take care of these.

for problem 2, instead of calculating through SQL wouldn't it be better to save the user-influence calculated score as a meta value and then use that value when ordering the results? if user influence is not on, then we use the rating meta otherwise the calculated meta.

[2017-11-18 07:49] selul commented on #210
@contactashish13 i don't understand your approach, can you please tell me a simple use case ?

[2017-11-19 04:42] contactashish13 commented on #210
@selul right now the problem is that the top products widget does not take into account user influence. for it to do that, either we have to calculate the final rating in PHP or in SQL and then order by that. Your suggested approach is to calculate the final rating in SQL. It would be more efficient to calculate this in PHP, then save it as a meta and then use this to order.

[2017-11-20 12:13] selul commented on #210
@contactashish13 i dont have very clear how you want to do it.  If we will do the calculation in PHP, we will need to load all the reviews from DB, which is not ok because some users will have thousands of reviews.

We can have a call if you want to clear all the things here.

[2017-11-20 12:23] rohittm commented on #210
Just a question, I want to know if we keep appending  the ratings in an user API, and then calculate using the objects parameters in a main object (let’s call it main) as soon as the ratings are added? how woll it go?

[2017-11-20 12:31] selul commented on #210
oh @rohittm you're losing me ... can you be more specific ?

[2017-11-20 19:39] rohittm commented on #210
Let's take an example here:

{
    [ "Main": {
                     "option1": a,
                     "option2": b,
                     "option3": c
                     }
     ],
     [ "User_Ratings": {
                     "option1": a,
                     "option2": b,
                     "option3": c
                     },
                     {
                     "option1": a,

[2017-11-20 20:09] selul commented on #210
yes, abstracting things, you are right, but there is no json api for each comments/user.

[2017-11-21 13:25] contactashish13 commented on #210
@selul have rectified the issue with top widgets sorting too. please check.

[2017-11-27 14:01] #210 closed

[2017-11-27 14:01] selul commented on #210
@contactashish13 should be fine now, good job

[2017-12-05 11:20] #158 closed

[2017-12-05 11:21] selul commented on #144
yep, we have now in docs.

[2017-12-05 11:21] #144 closed

[2017-12-05 11:22] selul commented on #137
i think it should be fine in the latest.

[2017-12-05 11:22] #137 closed

[2017-12-05 11:23] selul commented on #136
@rohittm can you have  a look at this ? you can ask @contactashish13 for assistance if you need any help. Also, we can provide a link to the doc where we show them how they can change the image size.

[2017-12-05 11:32] selul opened #218 "improve amp support"
@rohittm looking at [this ](https://secure.helpscout.net/conversation/464125501/147480/?folderId=212392 ) ticket, it seems we have an issue with amp support.

@rohittm i would like for you to  install wppr and that amp plugin, and improve layout of the review area.

After you finish this, you can ask @contactashish13 to review the code.

[2017-12-05 11:37] selul opened #219 "issue with widget color"
@bogdanpopa90 can you have a look here: https://secure.helpscout.net/conversation/479776644/149486?folderId=212385

[2017-12-05 11:52] selul commented on #150
@contactashish13 now that we have the comments rating that affects the review model query in place, we can now try to work on this.

 * The select will be on all post types admin listing pages
 * It will have the next options ( Show only reviews  :  no | yes | over 3, over 5 rating, over 7 rating. When the rating flag is set in the url, we should add a column where we display the rating also.

[2017-12-06 11:31] contactashish13 commented on #150
@selul

if users use many CPTs, it might become irritating for them. maybe this should be given as an option to the user?
OR
we can check if the current post type being displayed has even one review, if yes then show this.

[2017-12-06 12:01] ineagu commented on #150
As a user I would love to have just a select to see only review posts, sorting by rating seems useless in the context proposed by @UVLabs

Another option is to show the text - Review after the name of the post, for e.g check how Gutenberg/Elementor shows posts edited with them in the posts list.

[2017-12-06 12:12] HardeepAsrani commented on #150
Just having a column in the Post screen, like Comments option, will be good to: https://s.nimbus.everhelper.me/share/1294434/t6izrpd5r8h4hgfwi6yl

Something people are used to already.

[2017-12-06 12:34] selul commented on #150
@contactashish13 yes, let's keep things simple. For the moment add them just to posts/pages, use a filter to filter them in order for developers to add more post_types.

[2017-12-06 15:01] bogdanpopa90 commented on #211
Related to https://github.com/Codeinwp/islemag/issues/243

[2017-12-07 18:28] rohittm commented on #136
@selul PR #224

[2017-12-08 09:42] selul commented on #136
@rohittm there are too many files changed, it seems you changed a lot regarding the indentation. Submit a PR with only the files needed for the changes.

[2017-12-08 09:43] rohittm commented on #136
Alright. i guess there was issue regarding grunt. I ran phpcbf. Anyways, I'll figure it out and make a new PR.
 You can close this one

[2017-12-08 09:44] selul commented on #136
@rohittm you can ask @contactashish13 for help.

[2017-12-08 13:09] contactashish13 commented on #150
@selul PR: https://github.com/Codeinwp/wp-product-review/pull/226

[2017-12-09 07:05] rohittm commented on #136
@selul PR #227

[2017-12-11 10:06] selul commented on #136
Well done.

[2017-12-11 10:06] #136 closed

[2017-12-11 11:57] HardeepAsrani opened #229 "Import reviews from other plugins"
Can we make it possible to import reviews from other plugins? @selul @ineagu

[2017-12-11 12:16] ineagu commented on #229
This would be really interesting I think, even a guide maybe of using a import/export plugin

[2017-12-11 12:18] HardeepAsrani commented on #229
A guide might not working because of different fields and styles of how different review plugins work. It will be too much hassle for the user.

[2017-12-11 13:26] ineagu commented on #229
sure not a general one, but same is with coding

[2017-12-13 12:56] Vishakha-Patel opened #230 "Rating slide goes beyond 0 when scrolled back."
Difficult to explain. Following steps can produce it:

1. Enable reviews for comments.
2. Go to the comments section on any post in front-end.
3. Now, click on the first review slider starting point dot and drag it backside.
4. You will be able to drag it backside which also makes the review range bar a bit longer than the rest of others.

Screenshot to explain better - http://prntscr.com/hmxkdy.

[2017-12-19 10:02] contactashish13 commented on #230
@selul PR: https://github.com/Codeinwp/wp-product-review/pull/232

[2017-12-19 11:26] rohittm commented on #218
Hey @selul, can you please update the ticket URL here?

[2017-12-19 11:32] selul commented on #218
yep, here it is: https://secure.helpscout.net/conversation/470811491/148356/?folderId=212390

[2017-12-26 14:19] rohittm commented on #218
@selul PR #233

[2017-12-26 16:56] selul commented on #218
@rohittm this is not really the happiest way of solving this, we use OOP for plugin code, you have added your code using a more procedural approach.

You need to leverage the use of the current classes and methods to achieve the AMP support.

You can ask @contactashish13 to review your code and give you more details about the best way to solve this.

This is a good start, however we still have a b

[2018-01-03 12:06] #230 closed

[2018-01-03 12:07] #150 closed

[2018-01-15 02:40] UVLabs opened #236 "Button Icon color not changing"
@selul the button text color is changing via the setting but there's no setting to change the button icon color, it stays blue: https://prnt.sc/i0iogv and on hover it goes white, but there's no way to change the button icon color on hover as well

[2018-01-31 18:18] rohittm commented on #218
@selul PR #233

[2018-02-06 21:04] HardeepAsrani opened #238 "RTL Compatibility"
Found few issues with RTL compatibility: https://s.nimbus.everhelper.me/share/1447592/ocln574nav3pcict1pwv

- The button isn't working properly.
- The rating system and knob should be opposite as people who write in RTL also perceive time and value to go from Right to Left.

For example, if you have a progress bar, it goes from Right to Left. It changes how we perceive time and values change in RT

[2018-02-12 22:22] bwalklet opened #239 "Top rated products by tag or custom taxonomy"
The top products widget is great, but I think it would be perfect if we could display top rated products by tag or custom taxonomy, not just category. Additionally, being able to only display products published in a certain year would be awesome (not just a time range of last 0-52 weeks).

[2018-02-19 19:50] ineagu opened #243 "CPT or not-CPT"
@selul I can see a reason why it would be useful for some people to have a separate CPT for reviews, I can imagine that having a setting : Enable CPT shouldn't be hard to implement right?

When enabled users will have a reviews cpt similar to post, just that the review part will be automatically enabled.

Existing filters for gettings reviews, can be updated to check this cpt as well along with po

[2018-02-20 09:04] selul commented on #243
@ineagu How we/users will leverage this feature ?

[2018-02-20 11:09] ineagu commented on #243
it might be indeed an edge case but here are some examples 👍

1. User don't wanna display reviews on their blog listing
2. users want a review archive page with specific fields/design
3. I suppose this can be more naturally integrated with other plugins

saw some users requests as well, if we keep them coming we can add more info here.

[2018-02-20 15:27] selul opened #246 "check widget"
@contactashish13 can you have a look at this issue ->https://wordpress.org/support/topic/update-broke-widget-categories/

[2018-02-21 02:20] contactashish13 commented on #246
@selul PR: https://github.com/Codeinwp/wp-product-review/pull/247

[2018-02-21 15:19] jeromeXoo opened #249 "Version 3.4.0 break validation for AMP Page ?"
I'm not sure this plugin is causing the problem.

The problem :
- AMP pages are no longer valid

Error message :
The text (CDATA) inside tag 'style amp-custom' contains 'CSS !important', which is disallowed.

The CSS class concerned is: **#review-statistics** :
=>This CSS class is added to the AMP page

More information to come, I'm looking for.

But if you can confirm that this CSS class is from

[2018-02-21 15:33] ineagu commented on #249
cc @selul @rohittm

[2018-02-21 15:36] rohittm commented on #249
Thanks for reporting this to us. We are looking into this problem, and fix this soon.

[2018-02-21 15:55] jeromeXoo commented on #249
Someone has the same error? it would help to isolate the problem

[2018-02-22 09:49] selul commented on #249
@jeromeXoo should work fine now, you can update to the latest version.

[2018-02-22 09:49] #249 closed

[2018-02-26 11:02] #218 closed

[2018-02-26 11:54] #211 closed

[2018-02-26 11:54] #219 closed

[2018-02-27 21:05] rohittm opened #251 "UI issues with AMP"
@selul

Is the UI of this Multiple Review demo okay?

https://demo.themeisle.com/wp-product-review/multiple-review-templates/amp/

[2018-02-27 21:07] rohittm commented on #251
Also, https://demo.themeisle.com/wp-product-review/shortcode-review/amp/

[2018-02-28 10:23] selul commented on #251
@rohittm yes, would be useful if you can tackle those, try to replicate on you instance the pages and track the issue.

Be sure to validate the page using the amp validator.

[2018-03-03 21:03] rohittm commented on #251
Sure. I'm on it.

[2018-03-05 10:39] selul commented on #239
Hey @bwalklet,

Thanks for your feedback.

Regarding your first suggestion, this is already possible, you just need to have reviews in those taxonomies and they should show in that widget. If is not, please let us know and we will investigate.

As for the 2nd idea, sounds like a good feature to add in the future. We will surely consider it.

[2018-03-05 10:41] selul commented on #236
@contactashish13 can you check this out.

[2018-03-05 10:53] selul commented on #243
@contactashish13 let's tackle this.

The intent is to add a custom post type, same proprieties as the post post_type where they can add reviews. You will introduce a new taxonomy also, called category reviews.

This will be enabled if they will check a setting in the global settings area, called enable review post type, by default false.

Requirements:

 - add a checkbox called Enable review post

[2018-03-05 20:34] bwalklet commented on #239
When did this become possible (which version)? I am only seeing the option to select a category.

https://www.dropbox.com/s/fcsy4g6kdfz47cg/Screenshot%202018-03-05%2012.34.17.png?dl=0

[2018-03-05 22:02] rohittm opened #252 "Support ratings out of 5 instead of out of 10"
@selul @ineagu I have seen many customers requesting (like: https://secure.helpscout.net/conversation/533120011/156073?folderId=212390) to have a five star rating system instead of ten. Should we add this feature?

[2018-03-06 09:14] selul commented on #239
@bwalklet yes, you're right, I rushed with this thing. It seems that filter by tags is still work in progress.

[2018-03-06 16:11] rohittm commented on #251
@selul seems like they have updated to new version and added new designs to their plugin and the new version is not compatible with wppr. https://ampforwp.com/demo/ working on that issue.

[2018-03-06 16:59] rohittm opened #253 "Font Awesome Star Icons not showing up"
@selul When I used both templates for WPPR, I wasn't able to see the star icons on both templates.

Template 1 (http://clever-lion.w5.poopy.life/2018/03/06/template-1/):

![screen shot 2018-03-06 at 22 27 42](https://user-images.githubusercontent.com/3204558/37046188-b94077f0-218d-11e8-827d-fa01bde2ab32.png)

Template 2 (http://clever-lion.w5.poopy.life/2018/03/06/template-2/):

![screen shot 2018

[2018-03-06 17:17] rohittm commented on #253
I did this with the fresh install. When I selected star icon from WPPR settings, then it is showing fine!

[2018-03-07 12:55] selul commented on #253
@contactashish13 can you check ?

[2018-03-07 13:51] rohittm commented on #251
@selul why do we have rating-amp.css?

[2018-03-07 14:11] selul commented on #251
i challenge you to find out ⚔️

[2018-03-07 14:31] rohittm commented on #251
Got it. It is used for filling circle according to the rating(s).

I asked it because CSS size is increasing and becomes more than the allowed CSS. We need to reduce more unused CSS.

[2018-03-08 06:29] contactashish13 commented on #243
@selul if users already have some reviews and they then check this CPT, they will have reviews in post as well as wpp_review. Maybe if they check this, we should display a message that their existing reviews will be migrated to this?

Also, let's assume some users are using this new version where they have checked this CPT. Should they now be allowed to uncheck this box? If they do, then again the

[2018-03-08 06:39] contactashish13 commented on #236
@UVLabs can you please specify what other options are required besides the ones that exist?

![image](https://user-images.githubusercontent.com/12953439/37136890-7bdddc30-22c9-11e8-91e1-7f9c0818e93b.png)

[2018-03-08 07:00] selul commented on #243
Nope, this will be more simple than this. It will be no change to the older reviews, when enable the cpt, they will have only different defaults to the editor, nothing else.

[2018-03-08 07:03] contactashish13 commented on #243
@selul so when existing users who already have reviews enable this, they will have reviews in posts as well as in this post type?

[2018-03-08 07:04] selul commented on #243
yep, this post_type will offer just a way of keeping reviews in one place, without any change for the existing ones.

[2018-03-08 08:22] rohittm commented on #253
@contactashish13 So when I do a fresh install, I just create product reviews and the layout of both templates is like the one in first comment. When I go to settings and enable the custom icon (star), then it show the star icons. Let me know if you don't understand anything.

[2018-03-08 13:09] rohittm opened #254 "AMP compatibility"
@selul I had discussions with @contactashish13 and @HardeepAsrani about how we fixed the issues with AMP compatibility and passed the validation. Since then, we had new designs and the AMP plugin also has new templates which is not passing the AMP validations. So, the compatibility we added was just for old AMP template, and our old design.

The AMP plugin will keep on updating it's features and w

[2018-03-09 05:21] contactashish13 commented on #253
@selul PR: https://github.com/Codeinwp/wp-product-review/pull/255

[2018-03-09 09:28] contactashish13 commented on #243
@selul PR: https://github.com/Codeinwp/wp-product-review/pull/256

I can't seem to get the Add Review and Review Categories menu items when attaching them to the main WPPR menu. They are displayed if I choose to show them in their own menu but not as a subset of the main WPPR menu.

[2018-03-09 09:29] selul commented on #243
@contactashish13 i dont want to be added under WPPR, we can have as regular menus, as we add any other cpt.

[2018-03-09 09:36] contactashish13 commented on #243
@selul as a matter of fact, we include CPTs under the menu item of the plugin e.g. pirate forms. Anyways, I've made these independent here.

[2018-03-09 20:13] rohittm commented on #251
@selul PRs #257 and [Codeinwp/wp-product-review-pro#89](https://github.com/Codeinwp/wp-product-review-pro/pull/89)

All the templates, are now AMP compatible, and Shortcodes, as well.

AMP will give validation errors if:

- [ ] Multiple Reviews are used in one post (as all the CSS will be loaded and it will cross the AMP's size limit) in all four AMP designs (*Dashboard > AMP > Designs*)

- [ ] Sh

[2018-03-12 11:16] selul commented on #243
@contactashish13 nicely worked.

@rohittm can you test this feature and let me know if you see any issues.
Some use cases that I would like to test, ofc I would like for you to think of more scenarios

1) Create a review using the new review post type, check if the review single page is looking ok, without any errors.
2) Render a wppr review shortcode with a post type review id, make sure the revi

[2018-03-12 11:32] selul commented on #253
@contactashish13 i dont exactly understand the change, why we need to check the review template to enqueue that font awesome style ? It should not depend by the templates type and by the icon setting.

[2018-03-12 11:40] selul commented on #251
@rohittm i've added some comments in the PR

[2018-03-12 11:43] selul commented on #254
yep, that's what i tried to solve with amp-style css. The ideal case will be to keep consistency between how the reviews will be looking on amp and non-amp versions.

[2018-03-12 14:06] contactashish13 commented on #253
@selul as you can see in https://github.com/Codeinwp/wp-product-review/pull/255/commits/17bdf29c0e0ce6bb62de168800bd0ad7755dd025#diff-7fff6bc3802a0603710e8162a0bcdd99L117, the if condition already existed. Now I had a choice between

1. enabling star icon internally every time the user selects a template and not change the condition
2. using template as the condition

with 1, I wold need to check

[2018-03-12 14:18] selul commented on #253
@contactashish13 fair enough.

@rohittm can you check if all is working fine now ? Please make sure the default template behaviour is working as before.

[2018-03-12 18:16] rohittm commented on #251
@selul I've replied to those comments. Check them.

[2018-03-12 19:18] rohittm commented on #243
@selul The two test cases you asked me to test worked fine with me. One thing I noticed, that the product title is not being showed when used as shortcode. Here's the example:

Here is the CPT review:

![screen shot 2018-03-13 at 00 44 41](https://user-images.githubusercontent.com/3204558/37304508-c5aaf58c-2657-11e8-8ea9-ce2c5533dba2.png)

And here is the same review when used as shortcode:

![scr

[2018-03-12 21:32] selul commented on #243
@contactashish13 yes, you're right.

@contactashish13 when using the review post_type, can you hook to the wppr_name and alter it with post_title ?

[2018-03-13 05:11] contactashish13 commented on #243
@selul have addressed this. PR: https://github.com/Codeinwp/wp-product-review/pull/260

[2018-03-13 09:08] selul commented on #243
@contactashish13 i've added one small comment.

[2018-03-13 20:42] rohittm commented on #253
@selul I just tested this one, and every scenario (which was not working before), is now working fine.

[2018-03-18 06:10] contactashish13 opened #261 "if "manually placed" is chosen, the review is not output. only before content and after content options work"
https://secure.helpscout.net/conversation/542835681/157248/

[2018-03-19 04:32] contactashish13 commented on #261
@selul I don't understand the behavior. No matter what option I choose (before, after, manual) the behavior seems to be the same as manual.

[2018-03-19 07:49] contactashish13 commented on #236
@UVLabs could you please respond?

[2018-03-19 08:45] selul commented on #261
@contactashish13 are you saying about this particular user or generally for this plugin?

[2018-03-19 08:52] contactashish13 commented on #261
the plugin in general, at least on my instance.

[2018-03-19 09:07] selul commented on #261
@contactashish13 I'm lost here. the manual behavior is used when the user chooses to display the review using the shortcode. before, after will show them on the review single page, before or after the content.
also, the shortcode functionality is a pro feature, so is impossible only that to work because the before/after is working for the free ones.

Let me know your thoughts.

[2018-03-19 15:48] #243 closed

[2018-03-19 15:52] #253 closed

[2018-03-20 12:43] #209 closed

[2018-03-21 08:19] contactashish13 commented on #261
@selul I'm talking about the pro version. Here are the steps to reproduce the issue:

Settings: before content
- Create a post, add some content and mark it as a review
- Create a page, add some content before, paste the shortcode, add some content after
- View the page
Result: the page is displayed **without** the content of the post.

Same behavior with after content and manually placed.

[2018-03-21 14:40] selul commented on #261
@contactashish13 i've tried to replicate and it seems to work for me, i'm missing something -> https://drive.google.com/file/d/1c3eg7Z2yDJQ5lrIxObFs1GTJa4cT_1DS/view

[2018-03-21 14:58] #251 closed

[2018-03-21 16:04] selul opened #263 "extend review query for any custom taxonomy and post type"
@contactashish13 I know that you might not like this but it seems a lot of users requested filtering reviews by custom taxonomies and tags.

In order to do this, we need to extend the wp_query to allow using custom taxonmies, not only categories as it does not.

Let me know if you have any suggestion on how we can do this.

[2018-03-21 16:07] selul opened #264 "add n/a for comment form"
@contactashish13 in the comment form, allow users to add  `N/A` when they leave a comment for a review post.
This should be the default value.

Also, make sure this won't affect the previous comment ratings.

[2018-03-21 17:37] ineagu commented on #264
remember that before we had something in place so if a user didn't changed anything on those ratings it will be n/a. so if a user comment and doesn't change anything, we consider n/a automatically.

[2018-03-22 01:41] UVLabs commented on #236
@contactashish13 ok let me get back to you here in the next few hours

[2018-03-22 20:13] rohittm opened #265 "There should be option of fonts selection and/or inherit from the theme"
@selul
In [this](https://wordpress.org/support/topic/plugin-should-inherit-the-font-not-impose-it/) thread, the user wants to select fonts instead of using the fonts that comes with our plugin. They also want if they can use the same font that is used by the theme. Is this something we can work on?

[2018-03-22 22:47] UVLabs commented on #236
@contactashish13 the icon color of the button: https://prnt.sc/iv251v

[2018-03-24 04:55] contactashish13 commented on #264
@selul I'm not sure I understand this issue. In a comment I can leave n/a or any random text, so I'm not sure what you mean by

Are we disallowing users to leave n/a?

Also, what do you mean by this?

[2018-03-24 10:15] selul commented on #264
@contactashish13 i'm talking about the rating slider tied to the comment form. now if the user does not want to leave a comment, it will count as 0 rating.
The default option n/a, not zero as now.

Let me know if you got things clear.

[2018-03-24 10:24] contactashish13 commented on #264
@selul so are you saying the sliders should be able to provide a value of n/a instead of having the default value as 0?

[2018-03-24 10:40] selul commented on #264
exactly. the intent is to allow user to not review when they leave a comment.

[2018-03-24 11:10] contactashish13 commented on #264
@selul my testing shows that it is considered a valid review only if at least one of the sliders has a non-zero value. So, if the user enters a comment and does not touch the sliders, it is not considered a valid review and thus does not affect rating. If the user uses any slider to enter a non-zero value, it is considered a valid review and affects rating. Do you want a different behavior?

[2018-03-24 11:11] selul commented on #264
the thing is that if they play with the slider, there is no way to switch back to n/a. would be great if they move the slider to the most left position to be considered n/a, otherwise a valid rating.

[2018-03-24 11:15] contactashish13 commented on #264
@selul if they play with the slider and then move all sliders to 0, it becomes an invalid review. If they move all but one slider to 0, it is a valid review.

[2018-03-24 11:18] ineagu commented on #264
Marius this thing with playing with the sliders is a non issue for me, they can refresh the page to go back to n/a then.

[2018-03-24 11:21] selul commented on #264
@contactashish13 yes, but we need a more friendly solution otherwise way we need to provide each customer a tutorial on how they can teach their users to review.
Showing them by default an 'N/A' string instead of zero, and allowing them to switch back to n/a will be better than now.

I'm talking about a solution that's more friendly, the one that we have now indeed is working but needs a bit of fi

[2018-03-26 11:13] selul commented on #264
@contactashish13 @ineagu I will put this on hold and ask Rohit to make a doc on how users can send comments without reviewing the product.

[2018-03-26 16:46] rohittm commented on #264
@selul I want to ask that while I'm using this feature, I can see that If I just use one slider for rating, the other options automatically becomes '0' and it effects the main ratings. I guess it is not the expected behaviour?
![screen shot 2018-03-26 at 22 15 40](https://user-images.githubusercontent.com/3204558/37920010-43dad15c-3143-11e8-9a65-618e9c03bcfd.png)

[2018-03-27 08:29] selul commented on #264
yep, only if they don't review any of the option it should not save the ratings.

[2018-03-27 09:28] contactashish13 commented on #236
@selul that image is a blue icon. do we need to give multiple options for this image?

[2018-03-27 15:50] contactashish13 commented on #263
@selul This already supported custom post types. I've added support for tags and custom taxonomy. Now either tags or category or tag AND category can be queried. PR: https://github.com/Codeinwp/wp-product-review/pull/268

But the problem with related reviews still remains because that query has a tag OR category which I can't seem to fit here.

[2018-03-31 23:45] UVLabs commented on #236
@contactashish13 ideally it should inherit the "text color" set in the plugin and not be a static image

[2018-04-01 06:50] contactashish13 commented on #236
@UVLabs thanks.

@selul PR: https://github.com/Codeinwp/wp-product-review/pull/269

[2018-04-01 08:10] contactashish13 commented on #261
@selul can you please reset the access code/credentials for qsandbox so that I can try this there?

[2018-04-02 06:36] selul commented on #261
I don't have either those, can you try http://poopy.life ? i think we are no longer using qsandbox.

[2018-04-02 07:44] contactashish13 commented on #261
@selul you can check http://drab-spider.w5.poopy.life/2017/03/09/hello-world/. Whatever value I choose, the output of the page is identical.

[2018-04-02 07:49] selul commented on #261
yep, the page is the same because you are using the shortcod. The before/after behaviour is related to pages where the review is created, in your case -> http://drab-spider.w5.poopy.life/2018/04/02/review/

if you change before/after the review box will be added before/after the post content. In your case, as you can see the review box is missing as you have selected manually placement.

[2018-04-02 07:53] contactashish13 commented on #261
@selul okay. In that case, the behavior/documentation/interface is not intuitive.

[2018-04-02 08:05] selul commented on #261
yep, i think we can improve the doc here

[2018-04-02 08:05] #261 closed

[2018-04-02 08:09] #236 closed

[2018-04-02 08:20] selul commented on #263
@contactashish13 i see this extended for tags, not all custom taxonomies. also why we don't use in the model two params, taxonomy_name and terms_ids which will filter the reviews based on those?
I'm talking something like:
[code]

which will be generally used regardless of any taxonomy the user is choosing ( category, tag, etc )

Also, for backwards compatibility, we can populate the terms_ids bas

[2018-04-02 09:22] #264 closed

[2018-04-03 06:03] contactashish13 commented on #263
@selul taxonomy_category and taxonomy_tag allow for any custom taxonomy

`
		$post = array(
			'category_id'           => false,
			'category_name'         => false,
			'post_type'             => array( 'post', 'page' ),
			'post_date_range_weeks' => false,
			'tags'                  => false,
			'taxonomy_category'     => 'category',
			'taxonomy_tag'          => 'post_tag',
		),
`

[2018-04-03 08:09] selul commented on #263
@contactashish13 I understand now.

Can we collapse this into a single term usage, we don't need filtering by multiple taxonomy at the same time, it will be either tags or category or anything else.

I will suggest that we can simplify the input into something like this:
[code]

Where term_ids will be either array of slugs or term_ids and the taxonomy is the taxonomy slug which we will be used for

[2018-04-03 09:51] contactashish13 commented on #263
@selul i added support for both tags and categories because related reviews widget does that. The only difference is it uses tags OR categories. Do you want to still simplify the query?

[2018-04-03 10:03] selul commented on #263
yep, the logic inside related widgets can be simplified also to reduce only to fetch reviews only for similar tags.

What do you think ?

[2018-04-03 10:59] contactashish13 commented on #263
@selul the current widget works on categories or tags so existing customers who don't tag reviews and tend to group reviews into categories might suffer.

[2018-04-03 11:01] selul commented on #263
that's fine for now.

[2018-04-03 13:27] contactashish13 commented on #263
@selul or we can add an option to the widget where the user can select if they want similarity on the basis of tags or categories. And we can default this to categories. Do you think that would work?

[2018-04-04 10:25] ineagu opened #270 "wppr comparison table broken"
This used to display 7 reviews now is only one : https://themeisle.com/blog/best-wordpress-hosting/, I guess there was an issue on an update

[2018-04-04 10:25] ineagu commented on #270
cc @selul

[2018-04-04 10:30] selul commented on #270
it should be fine now, nr attr was used but empty,

[2018-04-04 10:53] ineagu commented on #270
yep, but I think before when that was empty it used to display all

On Wed, Apr 4, 2018 at 11:30 AM, Marius Cristea <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2018-04-04 11:40] contactashish13 commented on #263
@selul done. I've added the pro changes to https://github.com/Codeinwp/wp-product-review-pro/pull/87

[2018-04-10 09:30] selul commented on #263
@contactashish13 can we build some unit tests for this new query model. We can generate from phpunit a batch of posts, tags, categories and test different scenarios for query results.

[2018-04-11 20:10] rohittm opened #272 "Support for BuddyPress"
@selul According to this ticket in HS: https://secure.helpscout.net/conversation/553445906/158386/?folderId=212385 , there should be a support for BuddyPress as well for WPPR.

[2018-04-12 11:19] contactashish13 commented on #263
@selul added.

I'm not sure if the condition to find by rating has been written correctly in the query model because the test I've written (and commented out) fails. Can you please check?

[2018-04-12 22:13] HardeepAsrani opened #273 "Custom icon not working on Style 1 template"
Custom icons aren't working on Style 1 template, but Stars appear regardless of what you define.
@selul

[2018-04-16 11:57] rodica-andronache opened #275 "Check missing docs"
@rohittm I saw here https://wordpress.org/plugins/wp-product-review/ in the FAQ section, that some of the docs listed are not found.
for e.g
https://docs.themeisle.com/article/131-how-to-change-dynamically-the-name-of-the-review
Could you please check and see if you can add them back ( if they're still available ) or remove them from the listing? 👍

Could you do this for Visualizer, Feedzy and Int

[2018-04-17 20:55] UVLabs commented on #265
I tried using inherit on the font of the review text but it didn't work maybe there's another way to approach this

[2018-04-19 14:26] rohittm commented on #275
@rodica-andronache

### Missing Docs:

- [ ] https://docs.themeisle.com/article/131-how-to-change-dynamically-the-name-of-the-review
- [ ] https://docs.themeisle.com/article/210-how-to-fix-the-review-boxes-issue
- [ ] https://docs.themeisle.com/article/216-price-in-wp-product-review-is-messed-up

I wasn't able to find these docs on HS. Should we proceed adding those docs or remove them from the FA

[2018-04-19 14:50] rohittm commented on #275
I also checked if the same issues are there in other plugins as well:

- Visualizer: [#254](https://github.com/Codeinwp/visualizer/issues/254)
- Pirate Forms: None
- Feedzy: None
- Intergeo: None

[2018-04-19 15:03] rodica-andronache commented on #275
@rohittm 👍
For the missing docs, maybe you can try to redo them if you can. I think the first one can be done, not sure about the other two, as they seem to be a bit specific to a certain issue. If you can't add them, let's remove them from the FAQ.
Regarding the two that are repeating, from what I've seen, there are different, no? I think you should leave them.

[2018-04-19 16:08] rohittm commented on #275
@rodica-andronache I re-checked the repeated ones and those are the not different. I'll leave them as you say. And about the docs that are missing, I'm adding them.

[2018-04-19 17:41] rohittm commented on #275
@rodica-andronache PR #276

[2018-04-22 10:10] rohittm commented on #275
@rodica-andronache Can you check that doc again, and let me know if there's anything else that can be changed?

[2018-04-22 17:34] rohittm commented on #252
Here's another: https://wordpress.org/support/topic/rating-value/

[2018-04-24 15:51] rodica-andronache commented on #275
@rohittm I'm not able to access the plugin you created as an example https://drive.google.com/file/d/1r0pJBQVK9WMU5TWyBh4dU3tORkbSIG2E/view?usp=drive_web

[2018-04-24 16:41] rohittm commented on #275
@rodica-andronache I didn't enable the sharing options, now you'll be able to access them.

[2018-04-25 11:07] rodica-andronache commented on #275
@rohittm thanks, I was able to download the plugin, but I'm still not sure what this doc/plugin should do :D After installing the plugin, the Product Name option got empty and I can't add it back https://prnt.sc/j9w7y4 https://prnt.sc/j9w9cm . It's probably something in the plugin that I don't understand. could you please explain it a bit more? 😀

[2018-04-25 16:59] rohittm commented on #275
I'll check with the plugin 😅

[2018-05-08 18:26] rohittm commented on #275
@rodica-andronache I actually checked the code, and plugin is correct. The only problem is that it is updated when you update the post **twice**. I need help with the priority stuff. Can I get any help?

[2018-05-09 06:09] contactashish13 opened #278 "add an option to disable the amp css output"
ref: https://secure.helpscout.net/conversation/574306335/160770?folderId=1362294

[2018-05-09 06:30] contactashish13 commented on #278
@rodica-andronache @selul PR: https://github.com/Codeinwp/wp-product-review/pull/279

@rohittm can you please test this?

[2018-05-12 06:59] rodica-andronache commented on #270
@contactashish13 please check here if what ionut mentioned was the previous behaviour

[2018-05-14 07:10] contactashish13 commented on #273
@rodica-andronache PR: https://github.com/Codeinwp/wp-product-review/pull/280

[2018-05-14 08:35] contactashish13 commented on #270
@rodica-andronache the behavior for the arguments has not changed. If `nr` is not provided, it defaults to 10 but if it is provided and is empty `nr=""` then it defaults to 20. I can't replicate the issue. Can't seem to find this behavior in the code history either.

[2018-05-14 08:56] rodica-andronache opened #281 "Update doc for Comparison Table"
@rohittm could you please check this doc https://docs.themeisle.com/article/424-wp-product-review-comparison-table-documentation and make sure it's updated? From what I've seen the options have changed for this

[2018-05-14 09:04] rodica-andronache commented on #273
@contactashish13 for me it's not working for the third template now. Could you please check that too?

[2018-05-14 09:38] contactashish13 commented on #273
@rodica-andronache it works for me.

![image](https://user-images.githubusercontent.com/12953439/39989819-9da7aa00-5788-11e8-8270-d0a792f678ec.png)

[2018-05-14 09:41] contactashish13 commented on #270
@rodica-andronache there is a limit argument in the WP_Query_Model. If its not numeric, it defaults to 20.  So when nr="" in comparison table, it defaults to 20 in the query model.

I don't think its a good idea to show all products if nr is absent or empty. This is because we fire a rather complicated query in the query model and without limits, that query might really slow down the site. If the

[2018-05-14 09:42] #278 closed

[2018-05-14 09:48] rodica-andronache commented on #273
for me not https://prnt.sc/jhm0q9 . @rohittm how about you? I have the 2.1.2 version for the pro plugin

[2018-05-14 12:27] rodica-andronache commented on #275
@rohittm I finally understood what this doc/plugin should do :D or at least I think so.
I think you can better explain in the doc the thing that the Product name ( from the wppr settings is displayed there ) and with this plugin, if you change the  title of the post, you can make it to dinamically change the product name too.

and for the code, I think you need to change it like this:
`add_filter(

[2018-05-14 12:30] rodica-andronache commented on #270
ok, we can leave it like that

[2018-05-14 12:30] #270 closed

[2018-05-14 13:14] rodica-andronache commented on #272
@rohittm here I would need you to actually test the plugin with BuddyPress and see what/if it's not working and it's making sense for us to do :) Let me know what you tried

[2018-05-15 07:31] contactashish13 commented on #265
@rodica-andronache I've removed explicit mentions of `font-family` from the public facing CSS files. The fonts should automatically inherit from the theme.

PR: https://github.com/Codeinwp/wp-product-review/pull/285 and https://github.com/Codeinwp/wp-product-review-pro/pull/102

[2018-05-15 09:35] rodica-andronache commented on #265
@contactashish13  I think there are still some font-family properties for #review-statistics for the first template

[2018-05-15 09:41] contactashish13 commented on #265
@rodica-andronache I don't think FontAwesome can be removed without extensive testing. Most often it is used for using the fa icons.

Here is what I find for font-family in the project:
![image](https://user-images.githubusercontent.com/12953439/40049266-df9ff9f2-5851-11e8-8d07-3240f66f8b65.png)

[2018-05-15 15:30] rodica-andronache commented on #265
@contactashish13 yes,  it's mostly used for icons. But for me, the first template does not take the font family from the theme, just the other 2 templates. could you please check that?

[2018-05-16 08:06] rodica-andronache opened #287 "Gutenberg block for WPPR"
@rohittm could you please post what you already have done here, so @HardeepAsrani can help? 👍

[2018-05-16 08:47] rohittm commented on #275
@rodica-andronache Thanks :) It works. Didn't notice the parameters thing.
Updated the plugin and the doc. Here it is: https://docs.themeisle.com/article/874-how-to-change-dynamically-the-name-of-the-review

[2018-05-16 12:48] rodica-andronache commented on #275
@rohittm please update the text too with more details like I mentioned, right now it's not very clear what this doc does, even with the plugin and the video 👍

[2018-05-17 07:09] contactashish13 commented on #265
@rodica-andronache It seems to be fine now. Can you please verify?

[2018-05-17 07:36] contactashish13 opened #288 "Improve documentation"
@rohittm Like for feedzy, we want to add real life code examples for all hooks used here.

Some inspirations:
- https://secure.helpscout.net/conversation/541489037/157083/?folderId=212390#thread-1477246864
- https://secure.helpscout.net/conversation/534663480/156240/?folderId=212390#thread-1460606289

CC: @rodica-andronache

[2018-05-17 07:43] rohittm commented on #288
@contactashish13 what we want here is to add docs like: "How to manually change the length of description in comparison table", etc.?

[2018-05-17 07:53] contactashish13 commented on #288
@rohittm yes, that could be one. We can obviously not cover all possible use cases but one per hook should be fine to begin with. The intent is for users with basic PHP knowledge to understand how to go about using the hook because in most hooks it is not apparent what the arguments refer to or how to use those arguments. So the example will make it clearer.

Suggestions @rodica-andronache ?

[2018-05-17 12:09] rodica-andronache commented on #265
seems ok 👍

[2018-05-17 12:09] #265 closed

[2018-05-17 22:17] HardeepAsrani commented on #287
I did a lot of research on the best ways to do it, and how Gutenberg will support them, and here are two ways which it can be done. It's going to be a complicated and not-at-all-clear explanation so brace yourself.

Also, all the images you see are just mockups so just understand the concept, without focusing much on the design.

----

# Gutenberg Block

This way we can make a Gutenberg block in t

[2018-05-18 07:09] selul commented on #287
from my point of view, I would go with the first one. I'm not familiar with the latest Gutenberg capabilities, but once that we create a block, cant we save it and reuse it as a reusable block?

[2018-05-18 14:15] HardeepAsrani commented on #287
@ionutn We could have done that when we added Review CPT functionality. We could have generated Review Post types from all the Post Meta, and made Reviews separate from posts.

We need to be consistent with our approach to make sure it works the same way with old users.

@selul Yes, you can save blocks as Reusable but at the same time it's going different way altogether from what users are current

[2018-05-18 14:16] HardeepAsrani commented on #287
The first approach to make a block which can be used only once to make a review works the best with the situation. Of course, that will require us to have another block in Pro version to fetch Reviews from other posts, like we have Shortcode functionality right now.

[2018-05-18 14:38] andreilupu commented on #287
I'm not sure how much is this related. I'm working on the wp.data API and create a "Redux-like" store approach which handles block data into a middleware CPT between the block and the CF7 Form post.

If one post(or CPT) can be shown differently in multiple blocks this approach makes sense, but if one block is held by one post then not so much; In this case `withAPIData` should be enough.

[2018-05-18 17:13] rohittm commented on #273
@rodica-andronache @contactashish13 @HardeepAsrani

I tried all the cases, and everyone showed the desired icons. It works for me 👍

[2018-05-18 21:58] HardeepAsrani commented on #287
We can start with the first approach and then improve it as it progresses, as I don't see an easy way to manage it, so let's take the simple approach instead. :D

[2018-05-18 21:58] HardeepAsrani commented on #287
We can start with the first approach and then improve it as it progresses, as I don't see an easy way to manage it, so let's take the simple approach instead. :D

[2018-05-18 21:58] HardeepAsrani commented on #287
We can start with the first approach and then improve it as it progresses, as I don't see an easy way to manage it, so let's take the simple approach instead. :D

[2018-05-21 08:40] #273 closed

[2018-05-21 12:07] rodica-andronache commented on #288
@rohittm @contactashish13 I see we have this https://docs.themeisle.com/article/770-what-actions-and-filters-are-available-in-wp-product-review
Maybe it would be a good idea to check if it contains all the hooks/filters and make sure it's updated. And for all ( or the most important ) also create some separate docs like you suggested "How to manually change the length of description in comparison

[2018-05-21 12:50] rodica-andronache commented on #272
@rohittm it's not very clear for me now what we should do :) From what I know there isn't a way for a user to add a review, unless by using that shortcode that'd be added just in the pro version. This is what you meant?
I would like to have a more clear idea of what BuddyPress offers and what we can do it the plugin. Maybe with some screenshots too.

[2018-05-21 13:26] rohittm commented on #281
@rodica-andronache done. Check it and let me know about any changes (if any) that can be done.
https://docs.themeisle.com/article/424-wp-product-review-comparison-table-documentation

[2018-05-21 13:29] rohittm commented on #288
@rodica-andronache That seems fine. So, here's what I need to do:

1. Check and/or update or the filters and actions available.
2. Create example docs for each hook.

Let me know if there's anything, I'm missing.
cc @contactashish13

[2018-05-21 14:01] rodica-andronache commented on #288
seems ok for me 👍

[2018-05-21 14:15] rodica-andronache commented on #281
looking good 👍

[2018-05-21 14:15] #281 closed

[2018-05-24 22:26] rohittm commented on #272
@rodica-andronache What I'm saying is, if on user registration, if a user has privileges to add a post, they can definitely add the review as the meta boxes are used in post edit option. Also, yes, they can add the reviews using shortcodes as well if they are using the pro version. The thing is there are ways to add a review from backend and not the frontend. I don't think there is anything we nee

[2018-05-25 10:43] HardeepAsrani opened #289 "Issue with Affiliate Links data"
If you give both button the same text, only one will appear in the front-end. It happens because it uses the name value as the key, instead having `name` as the key and name's value as the value of the key.

It's making it really hard for me to use this data in Gutenberg, as stdClasses aren't JSON friendly, and having the value as a key makes it even harder.

Can we get it fixed soon so I could im

[2018-05-25 10:48] HardeepAsrani commented on #289
If the description sounds confusing, because it is, then some visual aid of how it is, and how it should be. :D

![screenshot-wppr local-2018-05-25-16-16-11](https://user-images.githubusercontent.com/2649903/40540839-2e9618ce-6037-11e8-974e-6ffb55e9ed0e.png)

[2018-05-25 11:48] rodica-andronache commented on #289
@HardeepAsrani I didn't understand :D There are options for two buttons? I only know about one.

[2018-05-25 11:49] HardeepAsrani commented on #289
Yup, there’s a plus button that you need to click for the second to appear. Instead of saving the name and link as values of two properties, it’s saving link as the value of name property.

[2018-05-25 12:39] rodica-andronache commented on #289
@HardeepAsrani thanks, I understand now :D
@contactashish13 could you please check this? thanks

[2018-05-25 21:43] UVLabs opened #290 "Add Alt text to comparison table images"
No alt text on images

[2018-05-25 21:44] UVLabs commented on #290
wrong place

[2018-05-25 21:44] #290 closed

[2018-05-26 05:04] contactashish13 commented on #289
@HardeepAsrani is it even a valid scenario where two buttons will have the same text but might have different links?

[2018-05-26 05:07] HardeepAsrani commented on #289
You can have two links from Amazon. Regardless of the scenario, having this structure is making it hard to manage the state in Gutenberg block as its JSON output isn’t much friendly. So if we could have it as a pair of name and value, like wppr_options, it would be great. @contactashish13

[2018-05-26 05:14] contactashish13 commented on #289
@HardeepAsrani maybe you can use the filter wppr_links to change the format to what you want for gutenberg? Changing this format in the code might jeopardize existing installs.

`apply_filters( 'wppr_links', $this->links, $this->ID );`

[2018-05-27 08:26] HardeepAsrani commented on #287
Just an update on how it looks right now:

- It's not much functional but just the backend part is done.
- Need to write a REST API Controller.
- The biggest issue is, that this PR needs to be merged for me to add "Is this post a review?" option: https://github.com/WordPress/gutenberg/pull/6899

Any feedbacks? @rodica-andronache

![wppr](https://user-images.githubusercontent.com/2649903/40583915-7

[2018-05-27 08:27] HardeepAsrani commented on #287
cc @selul ^

[2018-05-27 08:31] HardeepAsrani commented on #287
FYI, the "Add another button" option only appears until you have 5 fields, to keep up with the limit in the free version.

[2018-05-31 10:33] HardeepAsrani commented on #287
@rohittm Can you take a look at this early draft and see if it works? There are few known issues and the review is enabled by default, but see if it works for you. Make sure to install WP Product Review & Gutenberg first.

Also, let me know general feedback on the whole UX of the plugin.

[WPPR.zip](https://github.com/Codeinwp/wp-product-review/files/2057801/WPPR.zip)

[2018-05-31 20:07] rohittm commented on #287
@HardeepAsrani I'll be testing this tomorrow and will post my findings.

[2018-06-02 13:19] rohittm commented on #275
@rodica-andronache here: https://docs.themeisle.com/article/874-how-to-change-dynamically-the-name-of-the-review

Let me know if it is clear now :)

[2018-06-02 21:35] #275 closed

[2018-06-02 21:38] #272 closed

[2018-06-02 21:45] #199 closed

[2018-06-07 13:13] rohittm commented on #287
@HardeepAsrani I tested the block and seems to be working fine by my side. There's just this one thing which we discussed having affiliate links with the same name. You added an extra space if the same name occurs. But when the user will try removing that, that problem will still occur and the second affiliate button will disappear because it'll be treated as the first one. Rest, everything I can

[2018-06-11 12:42] rodica-andronache commented on #287
@HardeepAsrani I think you can add this on git, so we can release it 👍

[2018-06-11 13:45] rodica-andronache commented on #288
@rohittm how is this going? 💯

[2018-06-11 14:21] rodica-andronache opened #292 "Custom image size for widget"
https://wordpress.org/support/topic/widget-image-size/

[2018-06-11 15:46] rohittm commented on #288
@rodica-andronache I've been adding examples. You can see docs for few filters I have added them. I'll be completing them this week.

[2018-06-12 07:20] contactashish13 commented on #238
@HardeepAsrani can you check with PR https://github.com/Codeinwp/wp-product-review/pull/293?

I cant do much about the stars in style 1 :)

[2018-06-13 04:43] contactashish13 opened #294 "Price is shoved to the left, next to the title"
ref:
https://secure.helpscout.net/conversation/599853539/163544
https://secure.helpscout.net/conversation/599305732/163493

[2018-06-13 04:52] contactashish13 commented on #294
@rodica-andronache PR: https://github.com/Codeinwp/wp-product-review/pull/295. I've created this against master in case you want to make an immediate release.

@rohittm this was inadvertently introduced here https://github.com/Codeinwp/wp-product-review/commit/8f67b2f78dbb4eaeec29f16f2c97107a141e5e08#diff-7794939a35bcdfd3112a3892cd5b667f. You did the right thing but maybe you can test a bit as wel

[2018-06-14 09:00] contactashish13 commented on #292
@rodica-andronache I think the the best way to achieve this is to download the image instead of referencing it directly and upload it so that it creates 3 sizes. Should this be the behavior by default or should this be an opt-in behavior using settings?

[2018-06-18 11:56] rodica-andronache commented on #238
@contactashish13 there are still small things that don't look good 👍
maybe add some padding to between the icon and the text in the button. The icon should be in the right side of the text in rtl mode
![hello world wordpress](https://user-images.githubusercontent.com/3266155/41534347-ec8a2cf8-7306-11e8-94c0-eecd51735b62.png)
![hello world wordpress 1](https://user-images.githubusercontent.com/3266

[2018-06-18 12:35] rodica-andronache commented on #294
@contactashish13 thank you 👍 It's released now.

[2018-06-19 10:28] contactashish13 commented on #238
@rodica-andronache I don't see any problem with pros and cons. They seem to be identical in RTL and LTR. Can you please compare and then let me know what changes you foresee?

As for the stars, I think we will have to change our approach to using full and half stars instead of fractional stars. Basically, any quantity can be converted to x or x.5 where x is a whole number. Then we can easily suppo

[2018-06-19 13:55] rodica-andronache commented on #238
@contactashish13 for the pros and cons, if you check that template from the screenshot, you will see that in the rtl mode there is an extra padding, as in the screenshot :)
For the stars, sure, we can change the way the filling is done.
And don't forget about the buttons, which doesn't work well in rtl 👍  and the cart icon in the button, to be on the other side in the button.
Let me know if there'

[2018-06-19 14:15] rodica-andronache opened #297 "Product image notice is overlapping the featured image control"
The text "*The optimum size of the product image must be 600 x 600 px *If no image is provided, featured image is used" is overlapping the featured image control, and you can't really click on Set featured image.

https://prnt.sc/jwrbu7

[2018-06-19 14:39] rodica-andronache commented on #292
@contactashish13 from what I've seen, the image is displayed using get_small_thumbnail() which is taking the thumbnail size https://prnt.sc/jwro50. So, if the user would change it to 50 there, it would make 50x50.
But that is used in other places too https://prnt.sc/jwrorw.
If the only problem is in the widget, I would think I would register another image size of 50x50, and use just there. What do

[2018-06-20 04:50] contactashish13 commented on #297
@rodica-andronache PR: https://github.com/Codeinwp/wp-product-review/pull/298

[2018-06-20 06:01] contactashish13 commented on #292
@rodica-andronache There are 2 more scenarios:

- This image is used in the review post as well not just in the widget. Should we use the thumbnail image here or a 50x50 image?
-  We allow users to specify a URL for the image if they don't want to upload using the media library. This might also create similar problems. I think in this case we should automatically upload the image rather than refer

[2018-06-20 08:55] contactashish13 commented on #238
@rodica-andronache I'm not sure I understand what you mean by this padding. They seem to fine to me. Please highlight the portions in both RTL and LTR that you find have unnecessary padding.

![image](https://user-images.githubusercontent.com/12953439/41648025-703cec22-7495-11e8-85bf-37508cd965ef.png)

![image](https://user-images.githubusercontent.com/12953439/41648135-bab064d2-7495-11e8-8d49-fb3

[2018-06-20 10:27] rodica-andronache commented on #238
@contactashish13 https://prnt.sc/jx3rol

[2018-06-20 13:08] contactashish13 commented on #238
@rodica-andronache that helped! Have addressed all issues.

[2018-06-21 14:36] rodica-andronache commented on #238
@contactashish13 I think there are still issues if you want to check. I tried to explain everything I saw and I think needs to be done. In theory, it should be like the LTR but in the mirror 👍
first template: https://prnt.sc/jxn8i1
second template: https://prnt.sc/jxna9s
third template: https://prnt.sc/jxnbcj

[2018-06-21 15:05] rodica-andronache commented on #292
@contactashish13 we should use the 50x50 size only where it makes sense. For the review post is doesn't, from what I've seen.
If they specify a URL, don't think we should change that, they can enter whatever they want.
So, we can either register a new image size or use the filter you mentioned. Related to this https://github.com/Codeinwp/wp-product-review-pro/issues/111

[2018-06-21 15:33] #297 closed

[2018-06-21 22:11] HardeepAsrani commented on #287
@rodica-andronache Sure, I'll get it ready for the release. Needs to have some stuff as the perfect implementation that I want won't be possible because of the mentioned PR not being merged, yet.

[2018-06-25 10:07] contactashish13 commented on #238
@rodica-andronache have fixed the issues you pointed out plus a few more that I discovered while testing.

1st template
- Have interchanged the position of the rating and the image in RTL.
- There is a border on the RHS of the image. I have retained it but don't think it should be there. The border is obvious in RTL.

2nd template
- I think the text should be in the center and the rating of the op

[2018-06-26 14:11] rodica-andronache commented on #292
@contactashish13 is this working for you? Because for me it's not working.
What I think you need to do it register the image size with add_image_size and adapt the get_small_thumbnail() function , or create a new one, that should use that image size, and use it for the widget

[2018-06-26 14:40] contactashish13 commented on #238
@rodica-andronache I've commented on what you have pointed out in templates 2 and 3. There are points I disagree with if you consider RTL to be a mirror image of LTR. Can you please review my points in detail?

[2018-06-26 14:43] contactashish13 commented on #292
@rodica-andronache it works for me - https://github.com/Codeinwp/wp-product-review/issues/292#issuecomment-399826896

We do not need to register a new image size. Can you please review the code if you feel my approach is incorrect?

[2018-06-27 09:50] rodica-andronache commented on #287
@HardeepAsrani 👍
I got these warnings https://prnt.sc/jzw378 when I tried adding a new post in Gutenberg and couldn't test further
https://prnt.sc/jzw378

[2018-06-27 14:13] rodica-andronache commented on #238
@contactashish13 I am testing using https://wordpress.org/plugins/rtl-tester/, is it possible that this could be the cause? How are you testing? I'm not sure how to actually enable rtl

[2018-06-27 21:10] HardeepAsrani commented on #287
@rodica-andronache So it was script version for development purposes to make sure it's not cached. Anyway, I've removed it so you can try now.

[2018-06-28 08:17] rodica-andronache commented on #287
@HardeepAsrani how can I test this? I can't see any way of making the post a review https://prnt.sc/k0ah3m

[2018-06-28 10:38] HardeepAsrani commented on #287
You need to have WPPR installed as well.

On Thu, 28 Jun 2018 at 1:47 PM, Rodica-Elena Andronache <
notifications@github.com> wrote:

--
Regards,
Hardeep Asrani

[2018-06-29 10:09] contactashish13 commented on #238
@rodica-andronache maybe that could be the cause as I'm not using that. I'm changing the site language to an RTL language and testing.

![image](https://user-images.githubusercontent.com/12953439/42087028-908a8510-7bb2-11e8-8abd-23edec5ae6e4.png)

[2018-07-03 04:55] HardeepAsrani commented on #287
@rodica-andronache Can you check here? And should I start working on WPPR Pro's compatibility?

[2018-07-03 14:54] rodica-andronache commented on #287
@HardeepAsrani I tested with WPPR (the version from org) and I can't see how to make the post a review. Is there something I'm missing?

[2018-07-03 16:09] HardeepAsrani commented on #287
@rodica-andronache Seems to work fine for me. Can you try on an online instance so I could test if it doesn't work for you?

[2018-07-04 08:44] rodica-andronache commented on #287
@HardeepAsrani
http://elegant-falcon.w5.poopy.life/
Sent an email with the user/pass

[2018-07-04 12:19] rodica-andronache commented on #238
@contactashish13 thanks :) I tried with the same language like you did, with  #293 with Codeinwp/wp-product-review-pro#95 with Twentysixteen
But I still see of the issues I mentioned and that for me really make sense:
template 1: https://prnt.sc/k2foy2
template 2: https://prnt.sc/k2fpkn (Here you previously said: "I think the text should be in the center and the rating of the option should be on t

[2018-07-05 12:08] rodica-andronache commented on #287
@HardeepAsrani great :) would you like to move all of it in the plugin so we can release it?

[2018-07-06 12:07] rodica-andronache commented on #238
@contactashish13 thanks :D  there were still some problems, with the button, but it's ok, I've fixed them. I see you don't like css that much :D And for the build, you had to run grunt local to fix them 👍

[2018-07-06 12:07] #238 closed

[2018-07-06 13:11] rodica-andronache commented on #292
@contactashish13 I think the image size needs to be registered because with the current code when regenerating the thumbnails, indeed it tries to get the image by 50x50 but it can't do it, as that image size does not exist.
If it's really working in your case, it means that on your wp instance you have a 50x50 image size ( from another plugin or as a thumbnail size (https://prnt.sc/k3b5ns but this

[2018-07-09 11:54] HardeepAsrani commented on #287
@rodica-andronache Just one question, should I make a separate package.json for it (put it in a new folder and manage it as a different project), or just use the WPPR's main package.json?

[2018-07-12 12:55] rodica-andronache commented on #292
@contactashish13 thanks, but I'm not sure how it's working for you. For me, it's working only if I change in class-wppr-widget-abstract.php in the image_size() function, and return 'wppr-widget'.
But this needs to be adapted, as by just leaving it there, it's changing the image size on single product pages too.
Let me know your thoughts 👍

[2018-07-12 12:59] rodica-andronache commented on #287
@HardeepAsrani not sure, why use a different package.json?

[2018-07-12 14:11] contactashish13 commented on #292
@rodica-andronache whether you send an array of 50x50 or `wppr-widget` both should work the same.  Nevertheless, I have changed it to be consistent.

I don't see the problem with single product page.

![image](https://user-images.githubusercontent.com/12953439/42638409-2ff9955c-860b-11e8-8d26-9de54cf05867.png)

[2018-07-12 14:48] rodica-andronache commented on #292
@contactashish13 is that image in the widget really 50x50? And are you sure you don't have that image size registered from another plugin or from the thumbnail?
I'm asking because like I said for me it's not working? :)

[2018-07-12 14:51] contactashish13 commented on #292
If that were the case my previous tests would have given me a 50x50 image and not a 100x100 image :)

On Jul 12, 2018, 20:18, at 20:18, Rodica-Elena Andronache <notifications@github.com> wrote:

[2018-07-12 18:18] HardeepAsrani commented on #287
@rodica-andronache  If you want to have the Gutenberg part separated. I kept it as a single project in Feedzy, but saw it's kept differently here: https://github.com/Codeinwp/cf7-gutenberg/

[2018-07-13 09:41] rodica-andronache commented on #287
I honestly don't know how's best. Maybe @selul can help :)

[2018-07-13 09:43] selul commented on #287
@rodica-andronache yes, I think it's a good idea to keep the Gutenberg block separately for now.

[2018-07-16 20:07] alidixon03 commented on #239
+1 for filtering by tags. That would be great as I have a ton of reviews currently in a category that is not called "reviews", changing this will mess up all my SEO.

[2018-07-17 12:37] Vishakha-Patel commented on #294
It seems this change is reverted - https://secure.helpscout.net/conversation/621661053/165910?folderId=948378 :(

@contactashish13 @rodica-andronache

[2018-07-17 13:10] UVLabs commented on #294
@rodica-andronache @contactashish13 i fixed this a few days ago here: https://github.com/Codeinwp/wp-product-review/pull/302

[2018-07-18 13:00] rodica-andronache commented on #294
Yes, probably  I missed it. Thanks, it should be ok now :)

[2018-07-18 13:00] #294 closed

[2018-07-19 12:31] Vishakha-Patel opened #305 "User Feedback - change include file method"
The issue is explained in detail here - https://wordpress.org/support/topic/version-3-4-6-disables-wordpress-login-because-of-an-error/

@contactashish13

[2018-07-25 18:09] HardeepAsrani opened #306 "Widget styling with Elementor"
WPPR widgets look weird if you're adding it using Elementor. They appear just fine in the front-end when you view the post, but not while they're being edited.

[2018-08-02 11:54] #292 closed

[2018-08-02 12:05] #287 closed

[2018-08-02 22:26] HardeepAsrani opened #308 "wp.element.compose is deprecated"
wp.element.compose is deprecated and will be removed in 3.5. Please use wp.compose.compose instead in Gutenberg.

[2018-08-06 11:53] #308 closed

[2018-08-20 10:38] contactashish13 opened #311 "Star rating shows only 4 stars when rating is 4/5 (should show 4 stars + 1 empty star)"
also impacts https://github.com/Codeinwp/wp-product-review-pro/issues/119

[2018-08-20 10:45] contactashish13 commented on #311
@rodica-andronache PR: https://github.com/Codeinwp/wp-product-review/pull/312

[2018-08-30 20:58] HardeepAsrani opened #313 "Update Gutenberg Block"
Once again, Gutenberg is updated and we have to update the plugin. 😆

- Don't save the data on auto draft: https://github.com/Codeinwp/wp-product-review/blob/master/includes/gutenberg/src/block.js#L95, use `isAutosavingPost` for it.
- `withAPIData` is being deprecated, use `wp.apiFetch` in `constructor` only.
- Fix design of the Sidebar after the recent update.

[2018-09-06 22:55] contactashish13 opened #315 "Extend abilities of review post type"
- add support for comment review
- add taxonomy/category support in short code

[2018-09-11 12:45] contactashish13 commented on #315
PR: https://github.com/Codeinwp/wp-product-review/pull/316

If `[wppr_landing cat="some-cat"]` was used with the Reviews post type, it did not work as it was using the post category and not the review post category (`wppr_category`). Now, if reviews post type is on it will use `wppr_category` otherwise it will default to the post category `category`

[2018-09-21 05:49] contactashish13 opened #317 "Template 2 shows empty stars (with a PHP notice if debug is enabled)"
ref https://secure.helpscout.net/conversation/668170176/169886

notice:

`
Undefined variable: review_rating in E:\work\projects\webdesign\wordpress4.7.2\wp-content\plugins\wp-product-review\includes\functions.php on line 90
`

[2018-09-25 07:31] selul opened #318 "dist folder is present in master branch"
@contactashish13 it seems someone remove from gitignore the dist folder and it's present in the master branch too.

https://github.com/Codeinwp/wp-product-review/tree/master/dist

this should be removed from distignore file too https://github.com/Codeinwp/wp-product-review/blob/master/.distignore

as on release will be packed in the zip file for distribution.

[2018-09-25 07:32] selul commented on #318
@HardeepAsrani it seems you did it -> https://github.com/Codeinwp/wp-product-review/commit/ec62af1286016c46c4ec84f331b6d9cff8212616#diff-51b77af537e37fbcbab72a3bd0dad7c5

[2018-09-25 21:46] HardeepAsrani commented on #318
Yea, seems to be a lot of confusing with Gutenberg also using `dist` folder. I'll use better selector.

[2018-09-25 21:48] selul commented on #318
@HardeepAsrani yes, i saw that you did this awhile for feedzy too and i've reverted by renaming the gutenberg dist folder, i think we can do the same thing here.

[2018-10-06 12:30] poonam279 opened #319 "Change permalink structure of review post type"
[Feature Request] A customer on wp.org says that it would be good to be able to customize the permalink structure for the review post type. It would make most sense if we could set something like /reviews/ for all review posts and then /reviews/%category-slug%/ for the category archives and the review post URLs to either /reviews/%post-name% or /reviews/%category-slug%/%post-name%.

https://wordpr

[2018-10-08 12:12] poonam279 opened #320 "Review categories not working"
@contactashish13 The review category archive pages always show “No results found” even when there are posts in that category. Screenshots: http://prntscr.com/l3jszr http://prntscr.com/l3jt73
https://wordpress.org/support/topic/review-categories-not-working/#post-10759775

[2018-10-09 04:09] contactashish13 commented on #320
PR: https://github.com/Codeinwp/wp-product-review/pull/321

@poonam279 can you please test?

[2018-10-09 09:41] poonam279 commented on #320
@contactashish13 Tested. It's working.

[2018-10-11 16:42] contactashish13 opened #322 "Support different review types/schemas"
review types - books, movies, tv shows etc. with dedicated templates, specific json-ld schema

[2018-10-17 06:57] contactashish13 commented on #317
PR: https://github.com/Codeinwp/wp-product-review/pull/323

[2018-10-17 10:28] contactashish13 opened #330 "Style 1 main rating should always be stars and not custom icon"
incorrect
![image](https://user-images.githubusercontent.com/12953439/47080334-59fa5100-d225-11e8-8dc3-d348ded17771.png)

correct
![image](https://user-images.githubusercontent.com/12953439/47080357-6c748a80-d225-11e8-9dfd-cd1433828947.png)

[2018-10-17 10:32] contactashish13 commented on #330
PR: https://github.com/Codeinwp/wp-product-review/pull/331

[2018-10-17 10:38] contactashish13 commented on #305
PR: https://github.com/Codeinwp/wp-product-review/pull/332

[2018-10-18 12:09] Vishakha-Patel commented on #305
Hey Ashish,

This was on the user's website/hosting. It did not occur on my local. So I am not sure how to test this one.

However, I tested the plugin with the PR commit and the plugin is working fine now as well.

[2018-10-18 12:09] #305 closed

[2018-10-30 12:29] cristian-ungureanu opened #337 "Add filter to change schema information"
As per user: "Your product keeps the date in the SCHEMA, so instead of using our updated date or modified, it keeps your published date. This is another thing effecting our click through rate"

https://secure.helpscout.net/conversation/687581301/171619?folderId=212385

[2018-10-31 06:50] #311 closed

[2018-10-31 06:50] #315 closed

[2018-10-31 06:50] #317 closed

[2018-10-31 06:50] #320 closed

[2018-10-31 06:50] #330 closed

[2018-11-12 13:34] cosmin-serbanescu opened #340 "Mobile friendliness and feedback."
Same as https://github.com/Codeinwp/wp-product-review-pro/issues/145

[2018-11-12 13:39] cosmin-serbanescu commented on #340
@contactashish13 , this is how it's going to look on his website with the small changes I made: http://prntscr.com/lhdoyh - basically on mobile (<=767px) that rating box will go full width

[2018-11-22 13:25] contactashish13 opened #342 "Top/Latest Products widget: custom taxonomies do not populate"
somewhat related to #239

Steps to reproduce:
- Create top products widget
- Select a custom post type that has some categories
- The category drop down does not get populated by those categories

[2018-11-23 05:46] contactashish13 opened #343 "limit decimal points when user influence is on"
related to https://github.com/Codeinwp/wp-product-review-pro/issues/149

[2018-11-23 05:58] contactashish13 commented on #342
PR: https://github.com/Codeinwp/wp-product-review/pull/345

[2018-11-23 05:58] contactashish13 commented on #343
PR: https://github.com/Codeinwp/wp-product-review/pull/344

[2018-11-27 04:58] contactashish13 opened #346 "Add ability to recalculate comment ratings"
ref: https://secure.helpscout.net/conversation/706751700/173413/

[2018-11-27 08:45] contactashish13 opened #349 "If image is not provided, empty image tag shows for default template"
related to https://github.com/Codeinwp/wp-product-review-pro/issues/141

[2018-11-27 11:20] contactashish13 commented on #349
PR: https://github.com/Codeinwp/wp-product-review/pull/350

[2018-11-27 21:59] mileamadalin commented on #288
@contactashish13 Yep, I will add a notification in the docs channel

[2018-11-30 10:32] contactashish13 opened #351 "User templates: Modularize review elements to enable users to customize templates"
moved from pro: https://github.com/Codeinwp/wp-product-review-pro/issues/126

[2018-12-06 08:38] #343 closed

[2018-12-06 08:39] #337 closed

[2018-12-06 08:40] #342 closed

[2018-12-10 09:13] contactashish13 opened #360 "Review comments slider does not support RTL"
ref: https://secure.helpscout.net/conversation/726287517/175312

[2018-12-10 10:37] contactashish13 commented on #360
PR: https://github.com/Codeinwp/wp-product-review/pull/361

[2018-12-11 09:16] contactashish13 commented on #351
PR: https://github.com/Codeinwp/wp-product-review/pull/362

[2018-12-11 11:21] contactashish13 commented on #322
### movie/tv shows
- we can use use http://www.omdbapi.com/ for API
- the most popular plugin for this type is https://wordpress.org/plugins/wpmovielibrary/ which doesnt seem to be very needed, was last updated a year ago and has only a 1000+ installs... so do we even need to support this type?

### books
- we can use https://isbndb.com/
- the top plugins are https://wordpress.org/plugins/wpbookli

[2018-12-19 14:52] SilviuDinu opened #363 "Outgoing Links doesn´t have “noopener”"
A user on wp.org brought this to our attention -> https://wordpress.org/support/topic/outgoing-links-doesnt-have-noopener/

The links do not have a noopener rule which apparently is an underestimated security flaw.

[2018-12-24 06:49] contactashish13 commented on #363
PR https://github.com/Codeinwp/wp-product-review/pull/364

[2019-01-17 06:40] contactashish13 commented on #322
PR https://github.com/Codeinwp/wp-product-review/pull/365

- In the review meta box, the review type would be product by default and can be changed to show a different review type.
![image](https://user-images.githubusercontent.com/12953439/51300019-75594000-1a50-11e9-9714-53e7fbef5fc9.png)

- The fields of each review type will be populated and their visibility can be toggled
![image](https://use

[2019-01-30 14:50] mileamadalin commented on #288
@contactashish13 here is the link with the doc https://docs.themeisle.com/article/969-in-wppr-how-do-i

Let us know if there is anything else we can improve

[2019-01-30 14:50] #288 closed

[2019-02-05 18:11] samglover opened #367 "If scripts aren't able to load in the WP editor and the post/page is saved, review details are lost"
In trying to optimize our page speed, I dequeued the WP Review Pro scripts from pages they weren't needed on (we have a page template we use for all product pages, and don't use WP Review Pro on any other pages). It seemed to work fine until we updated and saved a page. On save, the review details were wiped from the page. In other words, we had several features on each page, with point ratings fo

[2019-02-08 09:29] contactashish13 commented on #367
@samglover thank you for your feedback. Would you be able to share screenshots of the page/console where you feel WPPR is loading scripts even when it is not supposed to? We would definitely want to improve on that.

[2019-02-11 05:27] #313 closed

[2019-02-11 05:27] #340 closed

[2019-02-11 06:14] #239 closed

[2019-02-11 06:14] #318 closed

[2019-02-11 06:14] #346 closed

[2019-02-11 06:14] #349 closed

[2019-02-11 06:14] #351 closed

[2019-02-11 06:14] #360 closed

[2019-02-11 06:14] #363 closed

[2019-02-11 14:55] samglover commented on #367
Sure thing. This is our homepage (lawyerist.com) showing all the scripts WP Review Pro loads (or tries to load) even though neither comments nor reviews are enabled for that page.

Our defaults are set to no review, custom location, and user ratings disabled.

<img width="1440" alt="screen shot 2019-02-11 at 8 52 33 am" src="https://user-images.githubusercontent.com/2208482/52571194-b38d1980-2dda-

[2019-02-12 08:25] contactashish13 commented on #367
@samglover I think you have WP Product Review Lite/Pro confused with WP Review Pro - its the latter that is loading the scripts and that does not belong to our portfolio. Can you please verify? You may want to try our plugin as well, as we don't load stuff that is not required :)

[2019-02-12 12:52] samglover commented on #367
Whoops!

[2019-02-12 12:52] #367 closed

[2019-02-25 14:58] ineagu opened #378 "doesn't look great with no pro/cons"
@contactashish13 I think if there are no pro/cons features, we can hide the right box completely, now we still display a bit of empty space : https://www.dropbox.com/s/re6n1iyfm3x11bs/Screenshot%202019-02-25%2014.57.22.png?dl=0
https://themeisle.com/blog/sendinblue-review/

[2019-02-25 17:22] ineagu opened #379 "woo deep integration idea"
@contactashish13 not sure if is worth considering having something like: https://wordpress.org/plugins/yith-woocommerce-advanced-reviews/ or offering more woocommerce friendly approach, trying to cater to shop owners

[2019-03-05 07:34] contactashish13 commented on #378
@ineagu I guess it can be addressed by adding this to the site's CSS but I'm not sure it makes sense to add it to the plugin's CSS file.

[code]

[2019-03-05 10:10] ineagu commented on #378
I really believe it makes sense to be in the plugin is not something
specific to the site ( without the !important). Why would you not add it?
too few usecases?

On Tue, Mar 5, 2019 at 7:34 AM contactashish13 <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2019-03-05 11:29] contactashish13 commented on #378
Because just adding that rule does not make any difference if there are no pros and cons. One has to adjust the left and right widths to 100% and 0 respectively. So all 3 rules need to be applied to make the table appear correct. But the last 2 rules cannot be added if pros and cons dont exist, at least according to my knowledge of CSS.  That's why I feel these should be added together and as part

[2019-03-05 11:34] ineagu commented on #378
ok, I got it. Probably we can still output the css from php, but you are
right, might not make sense

On Tue, Mar 5, 2019 at 11:29 AM contactashish13 <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2019-03-11 12:05] poonam279 commented on #322
@contactashish13 A user on wp.org reported something related to schema implementation. https://wordpress.org/support/topic/schema-implementation-upgrade/
If it's not related to this thread please let me know so I can create a new issue.

[2019-03-14 09:15] contactashish13 commented on #322
@poonam279 you on the right issue :) you can let him know that we will be releasing this soon

[2019-03-19 11:09] poonam279 opened #382 "String translation"
A user on wp.org reported that most of the text strings inside the block editor are not available for translation.
https://wordpress.org/support/topic/text-strings-in-gutenberg-are-not-available-for-translation/

[2019-03-19 15:53] dascalescuro opened #383 "`is this a post review` not visible enough"
When using the block editor, a user needs to click on this switch to activate the post review option: http://bit.ly/2JoAB36

the problem is that is only available in the document settings when the cursor is active in the title area.

I and other users find it difficult to use it, maybe the default should be "post review" and let the user switch off the option.

CC: @HardeepAsrani @sab2ina

[2019-03-21 21:28] HardeepAsrani commented on #383
@dascalescuro I wanted to add a panel for it but the Gutenberg API didn't allow. Even if we set it to be enabled by default, it still won't make it any more visible. 😞

[2019-03-22 07:25] dascalescuro commented on #383
@HardeepAsrani I have no better idea, but if you are aware of the situation we should look into.

[2019-03-22 16:50] HardeepAsrani commented on #383
@dascalescuro Yea, we can have some feedback here from others like @cosmin-serbanescu @abaicus @selul

[2019-03-23 12:01] selul commented on #383
@dascalescuro @HardeepAsrani I find the position is good enough, maybe what we can do better is to add a Gutenberg notification tooltip when they first go to a post after the plugin is active, just show it for 2,3 times and then hide that completely.

[2019-03-23 16:54] abaicus commented on #383
@HardeepAsrani maybe something along the lines of what Yoast is doing?

![image](https://user-images.githubusercontent.com/15010186/54869128-045e3d80-4d9d-11e9-872b-1424913e0341.png)

[2019-03-23 22:02] HardeepAsrani commented on #383
@abaicus We do the same, but only when you first mark the post as a review. Should we change that and display the sidebar all the times?

[2019-04-02 05:37] #378 closed

[2019-04-02 16:55] HardeepAsrani commented on #382
For this, we will have to change our development CI and use this package to generate translation strings: https://www.npmjs.com/package/@wordpress/babel-plugin-makepot

@selul

[2019-04-03 21:25] HardeepAsrani commented on #382
This has more info: https://github.com/WordPress/gutenberg/issues/14780#issuecomment-479420642

[2019-04-05 08:48] poonam279 commented on #322
@contactashish13 when we are going to release this feature? A user wants to purchase the pro version but before that, he wants to know when will this issue get resolved.

[2019-04-06 05:24] contactashish13 commented on #322
@poonam279 you can let him know to expect this release around the time of the release of WP 5.2 (mid to late April). If he wants to help us test this feature before the release, we can share a zip file of the plugin with him by Monday.

[2019-04-15 04:46] contactashish13 opened #385 "Tested upto WP 5.2"

[2019-04-16 15:00] contactashish13 opened #386 "new PHPCS rules for strict comparison"
done as part of https://github.com/Codeinwp/wp-product-review/pull/365/commits/b437b902ec8344db1b039b26e53aa641d1b26e78

[2019-04-18 04:47] radu-themeisle opened #392 "Replace FontAwesome with Dashicons"
A user pointed out that the half-empty and empty star icons are not visible and I pinpointed the issue is coming from the Avada theme which seems to have switched to Font Awesome 5 and by using the new font-family it breaks those 2 icons:
http://prntscr.com/ndi7oo
https://secure.helpscout.net/mailbox/dd8c59516d047fb2/212385/

I have asked the user to also contact Avada so we can see if they plan t

[2019-04-19 06:45] contactashish13 commented on #322
### Warnings in  Google Structured Data Testing Tool

Most review types will show no warnings when tested with the Google Structured Data Testing Tool **except** all children of `Product` viz.
- Product
- IndividualProduct
- ProductModel
- Vehicle
- SomeProducts

This is because they `offers` element is not being populated completely by the plugin. This can be addressed by using the filter `wppr_s

[2019-04-27 11:15] contactashish13 opened #390 "Top Reviews widget: JS error while changing post type"
![image](https://user-images.githubusercontent.com/12953439/56848951-d1631880-690b-11e9-8ef9-ccb7de946a63.png)

[2019-04-27 11:22] contactashish13 commented on #390
PR https://github.com/Codeinwp/wp-product-review/pull/391

[2019-04-30 13:06] radu-themeisle commented on #392
@contactashish13 I believe the solution of using Dashicons is the best course of action.
I tested PR #389 and noticed that only one style applies the dasicon star, the others take on the icon set in the settings.
I was expecting we replace FA with Dashicons entirely and remove FA from the plugin. What do you think?
Also, does the "[Disable Font Awesome](http://prntscr.com/nipbny)" option work? I e

[2019-04-30 14:23] poonam279 opened #393 "Manually placed option for review box should only show when pro enabled"
@contactashish13 The manually placed option for review box(http://prntscr.com/niq9ej) works only in premium version so the user who uses lite version only thinks that there is an issue or bug because nothing happens after choosing this option. I think we need to disable or freeze this button in Lite and putting a tooltip or message that says the option is available in Pro.

EDIT: All other options

[2019-05-02 06:24] contactashish13 commented on #383
@HardeepAsrani can you please update the status of this?

[2019-05-02 13:28] contactashish13 commented on #392
PRs https://github.com/Codeinwp/wp-product-review-pro/pull/188 and https://github.com/Codeinwp/wp-product-review/pull/389
- replace FontAwesome with Dashicons
- removes the modal popup for icons and shows them inline (https://github.com/Codeinwp/wp-product-review-pro/issues/172)
- if the user has chosen a FontAwesome icon and upgrades to either new lite or new pro, the review does not break and ke

[2019-05-02 13:31] contactashish13 commented on #392
@radu-themeisle can you please test this?

[2019-05-03 02:36] HardeepAsrani commented on #383
@contactashish13 I'm really fine with the current workflow and it's up to rest of you to decide if we should change it. It makes perfect UI sense for me, similar to how we do in the old Editor.

[2019-05-03 06:02] contactashish13 commented on #383
@abaicus do you want to pitch in?

[2019-05-06 07:04] contactashish13 commented on #393
PR https://github.com/Codeinwp/wp-product-review/pull/395 and https://github.com/Codeinwp/wp-product-review-pro/pull/189

[2019-05-06 08:06] radu-themeisle commented on #393
@contactashish13 the Review Position box [is gone](http://prntscr.com/nkyhnn) in the lite version. Can you check as I believe only the option to choose "manually placed" should not be present in the lite version, but the "before/after" content should still be available.
Regarding the doc it has to be updated but not before releasing the update with this "fix".

[2019-05-06 08:40] contactashish13 commented on #393
@radu-themeisle you are right! :cry:

I've fixed this with https://github.com/Codeinwp/wp-product-review/pull/396 (https://github.com/Codeinwp/wp-product-review-pro/pull/190 is to revert the change in PRO)

[2019-05-06 12:15] radu-themeisle commented on #392
- Please check this PHP [error](http://prntscr.com/nl185j), it's not related to the theme, I've seen it also when using twentyninteen.
- I changed the star dashicon to an FA icon but it didn't change it on the frontend, I could still see the star icon.
 -Can you add a check sign (✔️) once the settings finish [saving](http://prntscr.com/nl1aag)? There's no feedback to show the process has finished.

[2019-05-06 15:42] contactashish13 commented on #392
@radu-themeisle the PHP error should be okay now.

I'm not sure I understand this. We are replacing all instance of FA with dashicons and not the other way around. Can you explain what you wanted to do there?

PS - when the options are saved the loading indicator next to the button vanishes. Maybe it can be made more intuitive. You can create a new issue for that.

[2019-05-07 10:29] radu-themeisle commented on #322
- I tested with the Book type and I don't see all the fields I've filled in: http://prntscr.com/nlh5uz
The fields that are missing: alternateName, award, bookEdition, contentRating, copyrightYear, genre, isbn, material, numberOfPages, typicalAgeRange
These fields are not filled with my text: description, name

- I can't access this menu in the Block Editor, does it not have support for it? If not,

[2019-05-07 11:01] radu-themeisle opened #398 "Add a check sign (✔️) once the settings finish saving"
When the options are saved, the loading indicator next to the button vanishes.
There's no feedback to show the process has finished.

I was thinking we could just add a simple "✔️" once the process is done.

[2019-05-07 11:01] radu-themeisle commented on #392
- PHP error gone ✔️
- _"I changed the star dashicon to an FA icon"_ it seems to work now, my point was that I changed the  rating icon but in the review the icon was still the dashicon star.
-  _"the options are saved"_ I opened an [issue](https://github.com/Codeinwp/wp-product-review/issues/398).

[2019-05-07 11:40] contactashish13 commented on #322
@radu-themeisle looks like the editor displays some fields that are not actually part of the schema definition. Thats why when you see the schema in the tool, those fields are ignored. Need to check why they show up in the editor at all.

[2019-05-07 12:01] contactashish13 commented on #322
@radu-themeisle the first issue is addressed by https://github.com/Codeinwp/wp-product-review/pull/399

PS - Hardeep will add this feature in Gutenberg at a later date.

[2019-05-07 13:29] radu-themeisle commented on #392
I forgot to give you feedback on the **inline icon rating picker** . I really like what you've done there, simple and clear: http://prntscr.com/nlk1ge 👍

[2019-05-08 20:58] HardeepAsrani commented on #383
@contactashish13 I guess we can leave it off for now. If people contact, not being able to find the option, then we can look for it.

[2019-05-14 11:53] #322 closed

[2019-05-14 11:53] #386 closed

[2019-05-14 11:53] #390 closed

[2019-05-14 11:53] #392 closed

[2019-05-14 11:53] #393 closed

[2019-05-15 05:31] contactashish13 commented on #385
PR https://github.com/Codeinwp/wp-product-review/pull/402

PS - forgot to add commits for this issue to release 3.6.0 so will need to release a new version without a version update.

[2019-05-15 06:09] #385 closed

[2019-05-15 13:56] dascalescuro opened #403 "add the getting started video to the welcome page"
@contactashish13 we can add this video after the activation of the plugin in a welcome page like we do for the other plugins

[2019-05-17 09:33] Vishakha-Patel opened #405 "Schema error: Unspecified Type (The @type is required and cannot be an empty string.)"
If we test review on structured data testing tool, it shows an error. I checked demo and it shows error as well - https://search.google.com/structured-data/testing-tool/u/0/?url=http%253A#url=https%3A%2F%2Fdemo.themeisle.com%2Fwp-product-review%2Fcustom-icons%2F

Ticket: https://secure.helpscout.net/conversation/854998093/188904?folderId=212385

@contactashish13

[2019-05-20 22:58] purplecodes opened #406 "Number of options/pros/cons goes back to default (3) after being set"
From the WordPress Dashboard > Product Review > General Settings.
The Number of options/pros/cons goes back to number 3 even after it has been set to a different number. This happens both on free and premium version.

https://secure.helpscout.net/conversation/857398096/189163/
https://secure.helpscout.net/conversation/855774644/189002?folderId=212385

[2019-05-21 11:57] radu-themeisle commented on #252
+1: https://secure.helpscout.net/conversation/855357065/188951?folderId=212385

@contactashish13 do you think we can add this?

[2019-05-22 06:34] contactashish13 opened #408 "Travis builds for PHP below 5.6 fail with latest WP"
![image](https://user-images.githubusercontent.com/12953439/58152244-ac06c780-7c89-11e9-89d6-348c4ff7976d.png)

![image](https://user-images.githubusercontent.com/12953439/58152261-b759f300-7c89-11e9-8dc5-b0a3e3f36398.png)

[2019-05-22 06:47] contactashish13 commented on #408
PR https://github.com/Codeinwp/wp-product-review/pull/409

[2019-05-22 06:48] contactashish13 commented on #406
PR: https://github.com/Codeinwp/wp-product-review/pull/407

The problem was with all select boxes that had numeral values (e.g. visitor influence). Related to changes done for #386

[2019-05-22 07:44] #405 closed

[2019-05-22 07:44] #406 closed

[2019-05-22 07:44] #408 closed

[2019-05-22 07:44] contactashish13 commented on #405
@Vishakha-Patel @mileamadalin the new version 3.6.1 addresses this

[2019-05-22 07:46] contactashish13 commented on #406
@purplecodes @radu-themeisle @mileamadalin the new version 3.6.1 addresses this

[2019-05-27 12:02] Vishakha-Patel opened #412 "Warnings in rich snippet"
Checking page in Google Structured data tool, shows warnings:

https://search.google.com/structured-data/testing-tool/u/0/?url=http://fpv.tv/jjrc-h20w-wifi-fpv-nano-quadcopter-for-android-and-apple/#url=https%3A%2F%2Fdemo.themeisle.com%2Fwp-product-review%2Fmultiple-review-templates%2F

They are not errors, just warnings.

Is there a way to avoid them? We receive ticket with this question.

Ticket

[2019-05-28 04:29] contactashish13 commented on #412
@Vishakha-Patel I don't see any warnings:

![image](https://user-images.githubusercontent.com/12953439/58451014-3ee2ae80-812f-11e9-8245-fb36c42e9397.png)

[2019-05-28 11:12] Vishakha-Patel commented on #412
@contactashish13

That was the wrong URL. Sorry for that.

Here's correct one - https://search.google.com/structured-data/testing-tool/u/0/#url=https%3A%2F%2Fdemo.themeisle.com%2Fwp-product-review%2Ftemplate-1%2F

[2019-05-28 13:40] contactashish13 commented on #412
@Vishakha-Patel The recently released version allows you to fill up all the fields relevant to the schema. Did you fill out all the fields for the Product schema type?

[2019-05-30 07:14] Vishakha-Patel commented on #412
@contactashish13

After filling up all the fields too, there are four warnings for availability, priceValidUntil, url & aggregateRating.
https://www.dropbox.com/s/hl69dcorj630rij/Screenshot%202019-05-30%2012.41.09.png?dl=0

Also, the above URL in last comment is from our demo. It has 3 common warning as per my local test for for availability, priceValidUntil & url.

Is there any other settings nee

[2019-05-30 07:16] contactashish13 commented on #412
Please check the comment attached to the issue where I have mentioned why this occurs.

On May 30, 2019, 12:44, at 12:44, Vishakha Patel <notifications@github.com> wrote:

[2019-05-31 13:32] Vishakha-Patel opened #413 "Ability to change comment slider with stars"
https://secure.helpscout.net/conversation/829535051/186547/

@contactashish13

[2019-06-04 13:16] Vishakha-Patel commented on #412
@contactashish13 Checking this. Will update/close depending on the results.

[2019-06-05 13:38] contactashish13 commented on #252
PR https://github.com/Codeinwp/wp-product-review/pull/414 includes support for #413 as well

Here are the key points:
- in the settings tab, you can choose to change the rating system from out of 10 to out of 5
- in the settings tab, you can use the 5 star rating system instead of the comment sliders
- existing comments (out of 10) will also be shown as out of 5 if that's the chosen rating system

[2019-06-06 08:35] contactashish13 commented on #403
@dascalescuro can you please let me know what copy you want next to the video? I've provided some basic text but I'm sure a lot more would be better.

![image](https://user-images.githubusercontent.com/12953439/59018653-05fbb580-8864-11e9-945f-3faf514a118b.png)

[2019-06-06 14:03] dascalescuro commented on #403
Here is my take on the copy you can add next to the video.
Let me know if you need other resources.

=============

<h1>Welcome to WP Product Review</h1>

WPPR makes it easy to create review posts in WordPress. We recommend watching this Getting started video, and then try the plugin for yourself by enabling the review post option in the post Document sidebar.

 You can also read our guide on how

[2019-06-07 06:01] contactashish13 commented on #403
PR https://github.com/Codeinwp/wp-product-review/pull/416

[2019-06-07 06:05] contactashish13 commented on #398
@radu-themeisle I'll keep this on hold till we get more requests for this. For the time being, it doesn't seem to be a problem for users.

[2019-06-07 06:26] radu-themeisle commented on #398
I don't agree to wait for further request as this is rather something related to product design improvement, but I agree we can focus for the moment on more important issues and keep this in the backlog.

[2019-06-07 09:24] contactashish13 commented on #306
This happens because the assets required by the widgets in the backend are not loaded by Elementor.

Same behavior in SiteOrigin Page Builder

[2019-06-10 06:51] contactashish13 opened #417 "Improve UI for AMP requests"
![image](https://user-images.githubusercontent.com/12953439/59177491-ec1ae500-8b79-11e9-8734-00e76b2273ae.png)

![image](https://user-images.githubusercontent.com/12953439/59177589-2e442680-8b7a-11e9-8b0f-eb6ebc10767d.png)

![image](https://user-images.githubusercontent.com/12953439/59177611-3734f800-8b7a-11e9-8162-8e4a473db5ad.png)

[2019-06-10 15:44] contactashish13 commented on #417
PR https://github.com/Codeinwp/wp-product-review/pull/418

This now also supports custom icons from dashicons

![image](https://user-images.githubusercontent.com/12953439/59187472-2644b080-8b93-11e9-92be-79ce0084deaf.png)
![image](https://user-images.githubusercontent.com/12953439/59187367-ee3d6d80-8b92-11e9-9e50-cdd016d840c9.png)
![image](https://user-images.githubusercontent.com/12953439/5918753

[2019-06-11 13:36] contactashish13 opened #419 "Add ability to add schema types without deleting the cache"
In the below code, the first action should not be required

[code]

[2019-06-11 13:48] contactashish13 commented on #419
PR https://github.com/Codeinwp/wp-product-review/pull/420

[2019-06-15 05:58] contactashish13 opened #421 "Add filter to disable comments per review"
ref https://wordpress.org/support/topic/only-one-review-per-user-2/

[2019-06-15 06:09] contactashish13 commented on #421
PR: https://github.com/Codeinwp/wp-product-review/pull/422

Example to allow only one comment per user
[code]
https://docs.themeisle.com/article/578-prevent-users-from-posting-multiple-review-on-a-single-post-in-wp-product-review

[2019-06-24 07:06] contactashish13 opened #423 "While creating posts, the schema accordion does not appear"
![image](https://user-images.githubusercontent.com/12953439/59998241-91ef4900-967c-11e9-9ee3-e64144f552be.png)

It appears while editing posts.

related tohttps://github.com/Codeinwp/wp-product-review/issues/322

[2019-06-24 07:09] contactashish13 commented on #423
PR https://github.com/Codeinwp/wp-product-review/pull/424

[2019-06-25 09:14] contactashish13 commented on #379
closing this in preference to https://github.com/Codeinwp/wp-product-review-pro/issues/158 as this is part of pro

[2019-06-25 09:14] #379 closed

[2019-06-25 13:51] contactashish13 opened #426 "Add a amazon type rating overview for all customer reviews for a product"
![image](https://user-images.githubusercontent.com/12953439/60104043-4a50e600-977e-11e9-86a1-9ffa5398672b.png)

[2019-06-25 13:58] contactashish13 commented on #426
Some points to consider/answer:
- This should be only allowed to be chosen when a 5 star rating option is chosen?
- This should show after the review and before the user reviews start?
- This should be only allowed to be chosen when user reviews are allowed?

@selul what do you think?

[2019-06-25 18:10] selul commented on #426
We can talk around it in the next 1to1.

[2019-06-28 10:12] SilviuDinu opened #429 "The option to return to the default rating styling icon (the bars) is missing"
While testing out things for a client on HS I ran into a weird thing regarding the rating icon.

Basically, the free version has one option for rating icon which consists of bars like this -> http://prntscr.com/o7tzgm

The Pro version brings along more icons. Screenshot -> http://prntscr.com/o7tznr

Now if I choose another icon from that list, but then I want to return to the default bars from the

[2019-07-01 12:02] radu-themeisle commented on #429
+1 https://secure.helpscout.net/conversation/892487337/193775?folderId=212385

[2019-07-02 05:30] contactashish13 commented on #429
@SilviuDinu please try to open the issues in the correct place as you have yourself said this is a pro option :)

PR: https://github.com/Codeinwp/wp-product-review-pro/pull/208

Till this is released, the following code snippet can be used. It add an empty icon to the end of the icon list. Selecting that will make reviews use the default bars.

[code]

[2019-07-04 11:38] #252 closed

[2019-07-04 11:38] #403 closed

[2019-07-04 11:38] #413 closed

[2019-07-04 11:38] #419 closed

[2019-07-04 11:38] #421 closed

[2019-07-04 11:38] #423 closed

[2019-07-08 07:39] contactashish13 commented on #417
reopening this as there are problems using the AMP for WP plugin:

![image](https://user-images.githubusercontent.com/12953439/60791585-9722bc80-a181-11e9-91b6-51307cc41c01.png)

[2019-07-09 08:46] contactashish13 opened #433 "Make rating column sortable in listing screen"

[2019-07-11 04:41] contactashish13 commented on #417
PR https://github.com/Codeinwp/wp-product-review/pull/434

[2019-07-11 06:01] radu-themeisle commented on #229
[+1](https://secure.helpscout.net/conversation/873201108/191297/)

[2019-07-18 04:57] contactashish13 opened #435 "Add filter to switch off WPPR for post types"
ref https://wordpress.org/support/topic/disable-plugin-on-custom-post-types/

[2019-07-19 04:14] contactashish13 opened #436 "Conflict with PrettyLinks"
ref https://secure.helpscout.net/conversation/906650713/196920/

[2019-07-19 13:40] radu-themeisle opened #437 "Clearfix class conflicts with some themes"
In some themes (Donovan in this case) that use flex the clearfix class from the plugin can cause display issue because it adds `display: block` with a higher priority: http://prntscr.com/ohb9dp
This how the theme should look: http://prntscr.com/ohba20

Overriding that class for the header is a temporary fix.

[2019-07-20 05:04] contactashish13 opened #438 "Conflict with themes that use CSS class clearfix"
ref https://wordpress.org/support/topic/bug-with-search-bar-and-wp-product-review/

We should prefix all references to `clearfix` or remove them

[2019-07-20 05:36] contactashish13 commented on #437
closing this in preference to #438

[2019-07-20 05:36] #437 closed

[2019-07-22 10:12] contactashish13 commented on #438
PR https://github.com/Codeinwp/wp-product-review/pull/439

[2019-07-22 10:27] contactashish13 commented on #435
This can be done using Screen Options. Will keep this on hold till there is more noise to include this.

[2019-07-22 11:18] purplecodes opened #440 "Star ratings in Google search no longer visible in v3.7.0"
Tested the user's review URL on Google's Structured Data Testing Tool and got errors:
https://search.google.com/structured-data/testing-tool/u/0/#url=https%3A%2F%2Fcannabisvapelife.com%2Fhoneystick-beekeeper-vape-review%2F

Tested on my own with the latest version and also see the errors.

@contactashish13

Ticket: https://secure.helpscout.net/conversation/906940839/196959?folderId=212385

[2019-07-22 12:29] contactashish13 commented on #433
PR https://github.com/Codeinwp/wp-product-review/pull/441 shows the rating in reviews listing screen in the `5 star` format and makes it sortable. In other supported post types, it shows the rating as a number and is sortable.

[2019-07-22 14:53] contactashish13 commented on #440
@purplecodes is this different from https://github.com/Codeinwp/wp-product-review/issues/412?

[2019-07-23 05:43] contactashish13 commented on #436
closing this is a invalid as we don't have any such element

[2019-07-23 05:43] #436 closed

[2019-07-23 08:44] purplecodes commented on #440
@contactashish13

This is similar to that issue.

[2019-07-23 08:46] contactashish13 commented on #440
@purplecodes then it is not an issue. Please read https://github.com/Codeinwp/wp-product-review/issues/322#issuecomment-484783491. This is for everyone in the support team @Codeinwp/support. @purplecodes please close this once you read

[2019-07-23 08:56] contactashish13 commented on #412
closing this as this is not a bug

[2019-07-23 08:56] #412 closed

[2019-07-31 10:00] #440 closed

[2019-08-24 05:38] #417 closed

[2019-08-24 05:38] #433 closed

[2019-08-24 05:38] #438 closed

[2019-08-29 04:39] contactashish13 opened #446 "External CSS not allowed in AMP"
ref https://wordpress.org/support/topic/amp-validation-error-dashicons/

Also true for pages such as https://demo.themeisle.com/wp-product-review/shortcode-review/amp/

![image](https://user-images.githubusercontent.com/12953439/63929743-99154780-ca6f-11e9-9115-542247439990.png)

[2019-08-29 10:15] contactashish13 commented on #446
PR https://github.com/Codeinwp/wp-product-review/pull/447

[2019-09-04 20:31] mileamadalin opened #448 "When limited number of rows are being show and user influence is on, sort by comment rating"
ref https://secure.helpscout.net/conversation/932157670/199522/

EDIT: @mileamadalin's solution was not completely correct so I'm editing it out.

[2019-09-05 09:55] contactashish13 commented on #448
PR https://github.com/Codeinwp/wp-product-review/pull/449

[2019-10-07 09:38] contactashish13 commented on #398
Closing this as no one seems to have asked for this

[2019-10-07 09:38] #398 closed

[2019-10-17 13:04] stefan-cotitosu commented on #446
Adding the link to the ticket so I can notify the user when this is fixed and released.
https://secure.helpscout.net/conversation/963338608/202500/

[2019-10-28 04:35] contactashish13 opened #450 "Test with WP 5.3"

[2019-10-28 04:50] contactashish13 commented on #450
PR https://github.com/Codeinwp/wp-product-review/pull/451

[2019-11-13 10:10] #446 closed

[2019-11-13 10:10] #448 closed

[2019-11-13 10:10] #450 closed

[2019-12-13 05:07] contactashish13 opened #455 "notify users about warnings"
https://secure.helpscout.net/conversation/1027206798/209994/

[2020-01-20 04:17] contactashish13 opened #456 "Pros and Cons text headings do not show up in polylang"
https://wordpress.org/support/topic/translate-pros-cons-in-polylang/

[2020-01-20 04:24] contactashish13 commented on #456
PR https://github.com/Codeinwp/wp-product-review/pull/457

[2020-01-20 15:15] rodica-andronache commented on #456
@contactashish13 not sure how you've tested this, but for me, the strings don't appear in **Languages > Strings translations** in Polylang's settings, unless I add the **wpml-config.xml** file with this content
`<wpml-config>
    <admin-texts>
        <key name="cwppos_options">
            <key name="cwppos_pros_text" />
            <key name="cwppos_cons_text" />
        </key>
    </admin-texts

[2020-01-21 08:30] contactashish13 commented on #456
@rodica-andronache I believe this is because the text value is part of the plugin's settings and is not being set in the .POT file. I don't know if polylang supports such dynamic text translation.

[2020-01-21 09:29] rodica-andronache commented on #456
@contactashish13 from what I know from themes, dynamic strings are translated using the `wpml-config.xml` file I've mentioned. You can check it out

[2020-01-23 12:56] DanyCaissy commented on #263
@contactashish13 SHould this issue be closed?

[2020-03-11 04:35] contactashish13 opened #462 "Comment review appears weird on TwentyTwenty theme"
Desktop

![image](https://user-images.githubusercontent.com/12953439/76382715-9b8e1d80-637f-11ea-8a55-772ae5bc8990.png)

Mobile

![image](https://user-images.githubusercontent.com/12953439/81260275-4d338d00-9057-11ea-85c7-13f099d737f2.png)

Looks fine in TwentyNineteen on desktop

![image](https://user-images.githubusercontent.com/12953439/76382763-c8423500-637f-11ea-83aa-a8da7fb92d86.png)

Looks

[2020-03-30 08:49] stefan-cotitosu opened #463 "Add compatibility with Amazon API 5.0"
Two customers reported that the plugin recently stopped importing products info from Amazon.

Tickets:
https://secure.helpscout.net/conversation/1122387087/221959?folderId=2749618
https://secure.helpscout.net/conversation/1122062562/221918/

@contactashish13 I am not able to test this on my local website, as I don't see the Amazon Product ID filed in the review template. I have tried creating a fr

[2020-04-16 05:09] contactashish13 opened #466 "bulk activation of plugin aborts activation of subsequent plugins"
ref https://wordpress.org/support/topic/bug-in-plugin-activation/

[2020-04-16 05:44] contactashish13 commented on #466
PR https://github.com/Codeinwp/wp-product-review/pull/467

[2020-04-20 05:18] contactashish13 opened #468 "Widget: Thumbnail should also link to the review"
ref https://wordpress.org/support/topic/thumbnail-doesnt-link-to-post-2/

[2020-04-23 06:52] contactashish13 opened #469 "Import product reviews"
ref https://wordpress.org/support/topic/how-can-i-import-a-product-inventory-using-a-csv-file/

[2020-05-07 04:30] contactashish13 commented on #462
https://wordpress.org/support/topic/stars-dont-fit-with-text/

[2020-05-07 06:14] contactashish13 commented on #462
PR https://github.com/Codeinwp/wp-product-review/pull/470 fixes this. If this looks bad on any other theme, it may require better CSS skills than I possess :)

2019 mobile
![image](https://user-images.githubusercontent.com/12953439/81260386-8b30b100-9057-11ea-972d-7d1f498a9b86.png)

2019 desktop
![image](https://user-images.githubusercontent.com/12953439/81260414-9aaffa00-9057-11ea-95cd-4b44175660

[2020-05-08 05:07] contactashish13 commented on #468
PR https://github.com/Codeinwp/wp-product-review/pull/471

[2020-05-08 05:24] contactashish13 commented on #456
PR https://github.com/Codeinwp/wp-product-review/pull/472 adds the `wpml-config.xml` to the root **without** the changes in #457. @rodica-andronache I think we can close #457 and use #472 instead.

[2020-05-08 06:57] #468 closed

[2020-05-08 06:58] #466 closed

[2020-05-08 06:58] #462 closed

[2020-05-08 06:58] #456 closed

[2020-05-14 08:08] vytisbulkevicius opened #474 "Security Vulnerability reported"
Hi There,

We found an unauthenticated Cross Site Scripting in the plugin "WP Product Review". Please check the following details and let us know if you need more information:

This vulnerability could be abused by anyone. You can find the main entry point inside "class-wppr-gutenberg.php":

Unprotected API

[code]

An unprotected API combined with a lack of user input filters is causing this issu

[2020-05-14 08:08] vytisbulkevicius commented on #474
Ticket: https://secure.helpscout.net/conversation/1163122787/227794?folderId=212385

[2020-05-14 08:14] #474 closed

[2020-05-14 09:34] contactashish13 opened #475 "HS ticket"
https://secure.helpscout.net/conversation/1163122787/227794/

[2020-05-14 09:37] contactashish13 commented on #475
PR https://github.com/Codeinwp/wp-product-review/pull/476

[2020-05-14 10:27] #475 closed

[2020-05-25 10:04] contactashish13 opened #482 "Schema.org schema types do not load"
1. Install and activate the plugin (ensure classic editor is also activated)
2. Go to create a post
3. The review type dropdown will not be populated

![image](https://user-images.githubusercontent.com/12953439/82802797-181f9b00-9e9d-11ea-8e55-9f44f2f046ba.png)

It looks like the schema.org definitions have changed

[2020-06-04 04:54] contactashish13 commented on #482
PR https://github.com/Codeinwp/wp-product-review/pull/483 fixes this and adds schema support to the block editor as well.

[2020-06-15 04:38] contactashish13 opened #484 "Plugin shows entire review in the content even in the sidebar"
ref: https://wordpress.org/support/topic/plugin-hooks-into-the-content-of-other-types-of-posts/

Can be reproduced by

[code]

[2020-06-15 06:15] contactashish13 commented on #484
PR https://github.com/Codeinwp/wp-product-review/pull/485

[2020-06-15 14:54] #484 closed

[2020-06-15 14:54] #482 closed

[2020-06-17 06:10] contactashish13 opened #487 "Plugin size is 25 MB because of the vendor/spatie/schema-org files"
related to changes done in #482

[2020-06-17 06:12] contactashish13 commented on #487
@selul is there any way we can restrict composer to download only the specific files we want to? Or can we use distignore for this?

[2020-06-17 07:10] selul commented on #487
Composer has a post-install script https://getcomposer.org/doc/articles/scripts.md#command-events which you can use to run `rm -rf <location>`.

Either this or using `.distignore` should be fine.

[2020-06-18 05:29] contactashish13 opened #488 "Do not load jquery-ui-slider scripts if stars are being used for review comments"
ref https://wordpress.org/support/topic/too-much-resources-loading/

[2020-06-22 09:34] contactashish13 commented on #487
`.distignore` does seem to work with the same rules as `.gitignore`.

Something as simple as the following does **not** work correctly. It removes all files under `src` folder despite the negation.

[code]

[2020-06-24 04:45] contactashish13 opened #489 "If rating scale is chosen to show out of 5, GSC should also show out of 5"
ref: https://wordpress.org/support/topic/rating-scale-incorrectly-displayed-in-google/

[2020-06-24 04:51] contactashish13 opened #490 "Ensure PHP version is supported before using spatie/schema-org"
ref: https://wordpress.org/support/topic/wp-product-review-lite/

https://packagist.org/packages/spatie/schema-org#1.0.0 supports min PHP 7.3

[2020-06-24 05:26] contactashish13 commented on #490
PR https://github.com/Codeinwp/wp-product-review/pull/491

[2020-06-24 06:37] contactashish13 commented on #489
PR https://github.com/Codeinwp/wp-product-review/pull/492 addresses this.

The relevant portion of the schema appears like this before the change:
[code]

and after the change:

[code]

[2020-06-24 06:57] contactashish13 commented on #488
PR https://github.com/Codeinwp/wp-product-review/pull/493

[2020-06-29 05:43] #488 closed

[2020-06-29 05:43] #489 closed

[2020-06-29 05:43] #490 closed

[2020-07-20 13:53] adelina17 opened #496 "Update backlinks on wp.org"
Hey @contactashish13

We need to update a few links here: https://wordpress.org/plugins/wp-product-review/

These are the links that have to be corrected: http://prntscr.com/tl9qtf

From http://www.codeinwp.com/blog/fastest-wordpress-hosting/ to https://www.codeinwp.com/blog/fastest-wordpress-hosting/
And from http://www.codeinwp.com/blog/15-best-wordpress-review-themes/ to https://www.codeinwp.co

[2020-07-21 04:20] contactashish13 commented on #496
@adelina17 done. Can you please close this issue when you verify it is okay?

[2020-07-21 09:42] adelina17 commented on #496
All good, thanks!

[2020-07-21 09:42] #496 closed

[2020-07-22 05:25] contactashish13 opened #497 "Product review disappears in AMPforWP plugin"
ref: https://wordpress.org/support/topic/product-review-disappeared-in-amp-2/

Related to changes made in https://github.com/Codeinwp/wp-product-review/issues/484

[2020-07-27 02:32] contactashish13 opened #498 "Cannot place review above content in Thrive themes"
ref: https://wordpress.org/support/topic/not-working-properly-with-thrive-themes/

[2020-08-04 04:47] contactashish13 commented on #497
PR https://github.com/Codeinwp/wp-product-review/pull/499

[2020-08-13 13:11] ineagu opened #500 "5.5 jquery errors"
https://wordpress.org/support/topic/wordpress-5-5-errors/

cc @contactashish13

[2020-08-25 10:20] #497 closed

[2021-05-13 21:40] HardeepAsrani opened #503 "Migration to Otter"
The Product Review block is currently under review for initial version so it's about time to plan the migration from WPPR: https://github.com/Codeinwp/gutenberg-blocks/issues/635

@selul Do you have any thoughts on how this should be done?

- Should we have an option for users to migrate in the editor?

- An automatic migration with one button?
  - Possible issue with this is that WPPR usually doe

[2021-05-14 06:22] selul commented on #503
@HardeepAsrani this is how I see it:

1. In Otter general settings we can a toggle which enables the migration feature. We can **show** this only if we detect that they used wppr before ( checking by common wppr options or similar ) and make that toggle by default **on**.
2. Once the feature is enabled, on pages/posts where we detect reviews that were previously created with wppr, when they add th